<template>
  <div id="project">
    <v-container class="padding" fluid grid-list-lg>
    <v-layout class="breadcrumb_layout" v-if="user_token !== ''">
        <div class="col-md-5 align-self-center">
          <h3 class="breadcrumb_bigtxt">Projects</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb_smalltxt breadcrumb-item active" tabindex="0">
              Dashboard
            </li>
            <li class="breadcrumb_smalltxt breadcrumb-item active">Projects</li>
          </ol>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <v-btn class="mx-2" fab small @click.stop="drawer = !drawer;"
            style="background-color: #20aee3">
            <v-icon dark style="color: #fff">add</v-icon>
          </v-btn>
        </div>
    </v-layout>
    <!-- test table -->
    <v-card class="main_table">
      <v-card-title>
        <v-spacer></v-spacer>
        <v-text-field class="search_vtxtfield" v-model="search" label="Search"
          single-line hide-details>
          <v-icon dark color="#20aee3" slot="append">search</v-icon>
        </v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="project_list"
        :search="search"
        >
        <template v-slot:items="props">
          <td class="tdeqp_customer_name">{{ props.item.eqp_customer_name }}</td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
    </v-card>
    <!-- /test table -->
    <!-- toggle drawer -->
        <v-navigation-drawer :stateless="snackbar" class="app-nav-bar" width="500" v-model="drawer" absolute temporary right>
        <div class="nav-content">
            <v-list class="pa-1">
                <v-list-tile class="user-details">
                <h5 class="drawer_title"> ADD PROJECT</h5>
                </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-list class="nav-bar-items pt-0" dense>
              <v-flex xs12 sm12>
                <v-text-field label="Project Name" v-model="projData.project_name"></v-text-field>
              </v-flex>
            </v-list>
            <div class="draweroptions">
              <v-btn small class="ma-2" color="#007bff" v-on:click="eqpInsertProject"
                style="color:#fff"> <!-- add ( :loading="loading" :disabled="loading") kung butangag loader -->
                Save
              </v-btn>
              <v-btn color="#dc3545" dark small v-on:click="emptyAddProjFields">Cancel</v-btn>
            </div>
        </div>
        </v-navigation-drawer>
    </v-container>
    <!-- snackbar -->
    <v-snackbar v-model="snackbar" :bottom="y === 'bottom'" :timeout="timeout" :color="colorSuccess">
      {{ text }}
      <v-btn dark flat @click="snackbar = false"> Close </v-btn>
    </v-snackbar>
    <!-- /snackbar -->
  </div>
</template>

<script>
import axios from '@/utils/Axios';
import { Auth } from '@/services/Auth';
import { Storage } from '@/services/Storage';

export default {
    name: 'project',
    data() {
      return {
        project_list: [],
        projData: {
            project_name: ''
        },
        headers: [
        {
          text: 'Project',
          align: 'left',
          sortable: false,
          value: 'eqp_customer_name'
        }
        ],
        search: '',
        drawer: null,
        user_token: '',
        // snackbar
        colorSuccess: '',
        snackbar: false,
        y: 'bottom',
        x: null,
        mode: '',
        timeout: 6000,
        text: '',
        // /snackbar'
      }
    },
    mounted() {
        this.getProjectList();
    },
    methods: {
      emptyAddProjFields() {
        this.projData.project_name = '';
        this.drawer = !this.drawer;
      },
        getProjectList() {
            axios.get(`/getProjectList?=${localStorage.token}`)
            .then((response) => {
            if (response.data.length > 0) {
              this.project_list = response.data;
              this.user_token = localStorage.token;
            }
            });
        },
        eqpInsertProject() {
          const c = this;
            if(this.projData.project_name === ''){
              this.text = 'Field must not be empty';
              this.snackbar = true;
              this.colorSuccess = 'error';
            } else {
              this.text = 'Saved'
              this.snackbar = true;
              this.colorSuccess = 'success';
              axios.post(`/eqpInsertProject`, {
                  project_name: this.projData.project_name
              }).then(function(response){
              })
              c.getProjectList();
              c.eqpInsertProject();
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@import './style.scss';
@import "../style.scss";
</style>
