.breadcrumb {
    background: none !important;
    padding: 0 !important;
}
.main_table{
    box-shadow: none !important;
}
.tdeqp_customer_name {
    text-align: left; 
    text-transform: uppercase; 
    padding-top: 15px;
}