<template>
  <div id="device">
    <v-container class="padding" fluid grid-list-lg>
      <v-layout class="breadcrumb_layout">
        <div class="col-md-5 align-self-center">
          <h3 class="breadcrumb_bigtxt">Devices</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb_smalltxt breadcrumb-item active" tabindex="0">
              Dashboard
            </li>
            <li class="breadcrumb_smalltxt breadcrumb-item active">Devices</li>
          </ol>
        </div>
        <div class="col-md-7 align-self-center text-right">
          <v-btn class="mx-2" fab small @click.stop="drawer = !drawer;"
            style="background-color: #20aee3;">
            <v-icon dark style="color: #fff">add</v-icon>
          </v-btn>
        </div>
      </v-layout>
      <!-- toggle drawer -->
        <v-navigation-drawer :stateless="snackbar" class="app-nav-bar" width="500" v-model="drawer" absolute temporary right>
           <!-- mapping nav -->
            <div class="nav-content">
            <v-list class="pa-1">
              <v-list-tile class="user-details">
                <h5 class="drawer_title"> ADD DEVICE</h5>
              </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-list class="nav-bar-items pt-0" dense>
              <v-flex xs12 sm12>
                <v-text-field label="Device Name" v-model="deviceData.device_name">
                </v-text-field>
                <v-text-field label="Device Serial" v-model="deviceData.device_serial">
                </v-text-field>
                <v-text-field label="Project Definition" v-model="deviceData.device_project">
                </v-text-field>
              </v-flex>
            </v-list>
            <div class="draweroptions">
              <v-btn small class="ma-2" color="#007bff" v-on:click="eqpInsertDevice"
                style="color:#fff"> <!-- add ( :loading="loading" :disabled="loading") kung butangag loader -->
                Save
              </v-btn>
              <v-btn color="#dc3545" dark small v-on:click="emptyAddDeviceFields">Cancel</v-btn>
            </div>
          </div>
        </v-navigation-drawer>
      <!-- test table -->
      <v-card style="box-shadow: none !important">
      <v-card-title>
        <v-spacer></v-spacer>
        <v-text-field class="search_vtxtfield" v-model="search" label="Search" single-line hide-details>
          <v-icon dark color="#20aee3" slot="append">search</v-icon>
        </v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="devices_list" :search="search">
        <template v-slot:items="props">
          <td class="tddevice_id">{{ props.item.device_id }}</td>
          <td class="tddevice_serial capitalize">{{ props.item.device_serial }}</td>
          <!-- <td style="text-align: left; text-transform: uppercase">{{ props.item.project }}</td> ADD LATER-->
          <template v-for="(eqps,idx) in eqp_by_devices ">
            <td class="tdeqp_code" style="" 
              :key="idx" v-if="(props.item.eqp_id) === (eqps.id)">
              {{eqps.eqp_code}}
            </td>
          </template>
          <td v-if="(props.item.eqp_id) === null"></td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
      </v-card>
      <!-- /test table -->
    </v-container>
    <!-- snackbar -->
    <v-snackbar v-model="snackbar" :bottom="y === 'bottom'" :timeout="timeout" :color="colorSuccess">
      {{ text }}
      <v-btn dark flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <!-- /snackbar -->
  </div>
</template>

<script>
import axios from '@/utils/Axios';
import { Auth } from '@/services/Auth';
import { Storage } from '@/services/Storage';

export default {
  name: 'devices',
  data() {
      return {
        loader: null,
        loading: false,
        devices_list: [],
        drawer: null,
        deviceData: {
          device_name: '',
          device_serial: '',
          device_project: ''
        },
        headers: [
        {
          text: 'Device Code',
          align: 'left',
          sortable: false,
          value: 'device_id'
        },
        {
          text: 'Serial Number',
          align: 'left',
          sortable: false,
          value: 'device_serial'
        },/*
        {  ADD LATER
          text: 'Project',    
          align: 'left',
          sortable: false,
          value: 'project'
        },*/
        {
          text: 'Equipment Assigned',
          align: 'left',
          sortable: false,
          value: ''
        }
      ],
      search: '',
       // snackbar
      colorSuccess: '',
      snackbar: false,
      y: 'bottom',
      x: null,
      mode: '',
      timeout: 6000,
      text: '',
      eqp_by_devices: []
      // /snackbar
      }
  },
  /*watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]
        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      },
    },*/
  mounted() {
      this.getAllDevices();
      this.getAllEqpByDevices();
  },
  methods: {
    emptyAddDeviceFields() {
      this.deviceData.device_name = '';
      this.deviceData.device_serial ='';
      this.deviceData.device_project = '';
      this.drawer = !this.drawer;
    },
    getAllEqpByDevices() {
      const c = this;
       axios.get(`/getAllEqpByDevices`)
        .then((response) => {
          if (response.data.length > 0) {
            this.eqp_by_devices = response.data;
          }
        })
    },
      eqpInsertDevice() {
        const c = this;
        if (c.deviceData.device_name === '' || c.deviceData.device_serial === '' 
            || c.deviceData.device_project === '') {
        this.text = 'Field must not be empty';
        this.snackbar = true;
        this.colorSuccess = 'error';
      } else {
          //this.loader = 'loading';
          this.text = 'Saved'
          this.snackbar = true;
          this.colorSuccess = 'success';
          axios.post(`/eqpInsertDevice`, {
            deviceid: c.deviceData.device_name,
            serial: c.deviceData.device_serial,
            project: c.deviceData.device_project,
          }).then(function(response){
          });
          c.getAllDevices();
          c.emptyAddDeviceFields();
        }
      },
      getAllDevices() {
          axios.get(`/getAllDevices?=${localStorage.token}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.devices_list = response.data;
          }
        });
      }
  }
}
</script>

<style lang="scss" scoped>
@import './style.scss';
@import "../style.scss";
</style>
