.tddevice_id {
    text-align: left; 
    text-transform: uppercase; 
    padding-top: 15px;
}

.tddevice_serial {
    text-align: left;
}

.tdeqp_code {
    text-align: left; 
    text-transform: uppercase;
}

.breadcrumb {
    background: none !important;
    padding: 0 !important;
}


