<template>
  <div id="about">
    <header>
      <span>About Page</span>
    </header>
    <div class="content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam reiciendis atque voluptatibus corporis ipsa itaque eos fuga accusamus eius aliquam asperiores, voluptas, unde maxime nihil! Ab veritatis cum dolores necessitatibus.
      </p><br>
    </div>
  </div>
</template>

<script>
export default {
  name: 'about',
};
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
