<template>
  <v-container id="login">
    <v-layout row wrap>
      <v-flex xs12>
        <img class="logo" src="../../assets/logo.png" />
        <h1 class="heading">Equipment Utilization Dashboard</h1>
        <form class="form" v-on:submit="doLogin">
          <v-text-field v-model="loginData.username" label="Username">
          </v-text-field>
          <v-text-field v-model="loginData.password" label="Password" type="password">
          </v-text-field>
          <v-alert v-if="errorMessage" type="error" v-bind:value="true" color="yellow">
            <span>{{ errorMessage }}</span>
          </v-alert>
          <v-btn large block color="info" v-on:click="doLogin">Login</v-btn>
          <div id="google-signin-button" style="margin-left: 45%; margin-top: 15%;"></div>
        </form>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
import Dashboard from '@/pages/user/dashboard/Dashboard';
import Fillup from '@/pages/fillup/Fillup';
import AdminDashboard from '@/pages/admin/admin-dashboard/AdminDashboard';
import axios from '@/utils/Axios';
import { Auth } from '@/services/Auth';
import { Storage } from '@/services/Storage';

export const STORAGE_KEY = {
  TOKEN: 'token',
};


export default {
  name: 'login',
  components: {
  },
  data() {
    return {
      loginData: {
        username: '',
        password: '',
      },
      errorMessage: '',
      isLoggingIn: false,
      google_email: '',
      google_id_token: '',
      user_lastname: '',
      user_firstname: '',
      user_email: '',
      google_id: '',
      is_signout: 0,
      imgSrc: '',
      cropImg: '',
      
    };
  },
  mounted() {
    const c = this;
    const signout =  Storage.get('signout');
    this.is_signout = 0;
    setTimeout(function(){ 
      const d = c;
      gapi.signin2.render('google-signin-button', {
          onsuccess: d.onSignIn,
      })
     }, 1000); 
  },
  methods: {
    onSignIn (user) {
      const profile = user.getBasicProfile();
      /* console.log('ID: ' + profile.getId()); // Don't send this directly to your server!
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email:' + profile.getEmail()); */
      // The ID token you need to pass to your backend:
      var id_token = user.getAuthResponse().id_token;
      // console.log("ID Token: " + id_token);
      this.google_email = profile.getEmail();
      this.google_id_token = id_token;
      //.....
      this.user_lastname = profile.getFamilyName();
      this.user_firstname = profile.getGivenName();
      this.user_email = profile.getEmail();
      this.google_id = profile.getId();
      this.$cookie.set('lname', this.user_lastname);
      this.$cookie.set('fname', this.user_firstname);
      this.$cookie.set('uemail', this.user_email);
      this.$cookie.set('gid', this.google_id);
      Storage.set('g_lname', this.user_lastname);
      Storage.set('g_fname', this.user_firstname);
      Storage.set('g_email', this.user_email);
      Storage.set('g_id', this.google_id);
      axios
        .get(`/checkGoogleLogin?user_email=${this.user_email}&google_id=${this.google_id}`)
        .then((response) => {
          
          if(response.data.length > 0) {
            const data = response.data[0];
            const token = data.user_token;
            if (token == 'empty') {
                this.$router.push({ name: Fillup.name });
            } else {
              Auth.authenticate(data.user_token);
              Storage.set('ueud_user_type', data.user_type);
              Storage.set('signout', 0);
              if (data.user_type == 'admin') {
                this.$router.push({ name: AdminDashboard.name }); // Child sa Admin,
              } else { 
                this.$router.push({ name: Dashboard.name });
              }
            }

          } 
      });
    },
    googleLogin() {
      this.$store.dispatch('user/googleLogin', {
        email: this.google_email,
        id_token: this.google_id_token,
      }).then((response) => {
        if(response.error) {
          this.errorMessage = response.error;
        } else {
          this.$router.push({ name: Dashboard.name });
        }
      });
    },
    doLogin() {
      this.$store.dispatch('user/login', {
        username: this.loginData.username,
        password: this.loginData.password,
      }).then((response) => {
        if (response.error) {
          this.errorMessage = response.error;
        } else {
            console.log(response.data[0]);
            const data = response.data[0];
            Storage.set('ueud_user_type', data.user_type);
            Storage.set('admin_fname', data.user_first);
            Storage.set('admin_lname', data.user_last);
            Storage.set('user_img', data.user_logo_base64);
                 
            if (data.user_type == 'admin') {
              this.$router.push({ name: AdminDashboard.name }); // Child sa Admin,
            } else { 
              this.$router.push({ name: Dashboard.name });
            }

          //this.$router.push({ name: Dashboard.name });
        }
      });
    },

},
};
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
