<template>
  <div id="date-picker">
    <v-dialog v-model="modal"
              max-width="325">
      <v-btn class="btn-calendar" color="black" dark slot="activator" icon flat>
        <i class="fas fa-calendar-alt"></i>
      </v-btn>
      <v-card id="picker-dialog">
        <v-card-text>
          <div class="modal-title">
            <p v-if="title">{{ title }}</p>
            <v-btn class="close-btn" color="white" @click="modal = false" icon flat>
              <i class="fas fa-times"></i>
            </v-btn>
          </div>
          <v-date-picker v-bind:value="val"
                         v-bind:landscape="landscape"
                         v-bind:reactive="reactive"
                         v-on:input="$emit('input', $event)"
                         scrollable>
          </v-date-picker>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'date-picker',
  data() {
    return {
      modal: false,
      hasDateInput: false,
    };
  },
  computed: {
    val() {
      if (this.modal) {
        return this.value;
      } else {
        return '';
      }
    },
  },
  props: [
    'title',
    'value',
    'landscape',
    'reactive',
  ],
};
</script>

<style lang="scss">
#picker-dialog {
  background-color: transparent !important;

  .close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 999;
  }
  .picker--date {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .modal-title {
    background: #1976d2;
    color: #FFF;
    vertical-align: middle;
    width: 99.1%;

    p {
      font-weight: 700;
      padding: 10px;
      margin-bottom: 0;
    }
  }
}
.dialog {
  box-shadow: none !important;
}
.btn-calendar {
  margin-bottom: 15px;
}
</style>

