<template>
  <div id="equipment">
    <v-container class="padding" fluid grid-list-lg>
      <v-layout style="padding-top: 10px; margin-bottom: 50px">
        <div class="col-sm-5 align-self-center" style="padding-left: 0">
          <h3 style="text-align: left; font-size: 1.38rem; color: #20aee3">Equipments</h3>
          <ol class="breadcrumb" style="background: none !important; padding: 0 !important">
            <li class="breadcrumb-item active" tabindex="0" style="font-size: .75rem">
              Dashboard 
            </li>
            <li class="breadcrumb-item active" style="font-size: .75rem">Equipments</li>
          </ol>
        </div>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field v-model="searchFilter"
                        name="search"
                        label="Search"
                        single-line
                        append-icon="search">
          </v-text-field>
        </v-flex>
      </v-layout>

      <v-layout v-for="(eqpType, idx) in equipmentTypes"
                v-bind:key="idx"
                @click.stop="selectEquipmentType(eqpType)"
                row wrap>
        <v-flex xs12>
          <v-card class="margin-bottom clickable">
            <v-card-title>
              <v-flex xs2 sm2 md1 class="text-xs-center">
                <img class="icon" src="../../../assets/icons/construction/excavator.svg" alt="">
              </v-flex>
              <v-flex xs7 sm7 md8 offset-xs1 class="text-xs-left">
                <h1 class="capitalize">{{ eqpType.eqp_type_name }}</h1>
              </v-flex>
              <v-flex xs2 sm2 md2>
                <div class="counter">
                  {{ eqpType.count }}
                </div>
              </v-flex>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>

      <!-- No search results -->
      <v-layout v-if="equipmentTypes.length === 0" row wrap>
        <v-flex xs12>
          <v-card class="margin-bottom">
            <v-card-title>
              No results found.
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Equipment Details Dialog -->
    <v-dialog v-model="dialog"
              transition="dialog-bottom-transition"
              v-bind:overlay="false"
              scrollable
              fullscreen>
      <v-card id="equipment-type-details" tile>
        <v-toolbar style="position: fixed; z-index: 1; background: #20aee3">
          <v-btn class="btn-large no-padding" flat @click.native="dialog = false">
            <v-icon color="#fff">keyboard_backspace</v-icon> <a style="color: #fff">Back</a>
          </v-btn>
        </v-toolbar>
        <v-card-text class="no-padding">
          <v-layout class="header white" row wrap>
            <v-flex xs2 sm2 md1 class="text-xs-center">
              <img class="equipment-icon" src="../../../assets/icons/construction/bulldozer.svg" alt="" />
            </v-flex>
            <v-flex xs10 sm10 md11>
              <h1 class="equipment-name no-margin">{{ selectedType.eqp_type_name }}</h1>
            </v-flex>
          </v-layout>
          <div class="data-table">
            <v-layout class="padding" row wrap>
              <v-flex class="no-padding margin-bottom" xs12>
                <v-layout row wrap>
                  <v-flex class="no-padding" xs10>
                    <h1>Current Week </h1>
                    <p class="grey--text">Mar 11 - 17, 2018</p>
                  </v-flex>
                  <v-flex class="no-padding text-xs-center" xs2>
                    <img src="../../../assets/icons/high.png" alt="">
                  </v-flex>
                </v-layout>
              </v-flex>

              <v-flex class="no-padding" xs4>
                <p class="grey--text">Utility Hrs</p>
                <p><strong>{{ equipmentTypesGroup.totalUtilityHrs |  currency }}</strong></p>
              </v-flex>
              <v-flex class="no-padding" xs4>
                <p class="grey--text">Idle Hrs</p>
                <p><strong>{{ equipmentTypesGroup.totalIdleHrs   | currency }}</strong></p>
              </v-flex>
              <v-flex class="no-padding" xs4>
                <p class="grey--text">Liters/Hr</p>
                <p><strong>{{ equipmentTypesGroup.totalLiters | currency }}</strong></p>
              </v-flex>
            </v-layout>
          </div>

          <v-layout class="padding-vertical" row wrap>
            <v-flex xs12>
              <h1>Individual Status</h1>
            </v-flex>
          </v-layout>

          <equipment-list class="padding" v-bind:equipments="equipmentTypesGroup.equipments" />

        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import index from './index';
export default index;
</script>

<style lang="scss">
@import "./style.scss";
</style>
