#equipment {
  text-align: center;

  .icon {
    max-width: 55px;
  }
  .counter {
    border-radius: 9999px;
    padding: 0.5rem;
    width: 2.6rem;
    margin: auto;
    background-color: #EDEDED;
  }
  .content {
    display: block !important;
  }
}

#equipment-type-details {
  .layout.padding {
    padding: 1rem 2.3rem !important;
  }
  .data-table {
    margin-bottom: 20px;

    .flex {
      padding: 10px
    }
  }
  .individual-usage {
    .card {
      border-bottom: 4px solid #FFDB01;
      border-radius: 4px;
    }
  }
  .equipment-icon {
    max-width: 45px;
  }
  .equipment-name {
    padding-left: 15px;
  }
  .data-table {
    margin-bottom: 20px;
  }
  .header {
    padding: 1rem 2.3rem 0.5rem;
  }
}
