<template>
<div id="equipment-list">

  <!-- Listing -->
  <v-layout v-for="(equipment, idx) in equipments"
            v-bind:key="idx"
            @click.stop="showDetails(equipment)"
            class="individual-usage margin-bottom"
            row wrap>
    <v-flex xs12>
      <v-card class="margin-bottom" v-bind:class="{ 'clickable': showDetail }">
        <v-card-title class="no-padding">
          <v-container fluid grid-list-lg>
            <v-layout row wrap>
              <v-flex xs3 sm2 md1 class="text-xs-center">
                <img class="equipment-icon" src="../../assets/icons/construction/excavator.svg" alt="" />
              </v-flex>
              <v-flex xs8 sm9 md10>
                <p class="equipment-code"><strong>{{ equipment.eqp_code }}</strong></p>
                <p class="client-name">{{ equipment.client_name ? equipment.client_name : 'PH Equipments Corp' }}</p>
              </v-flex>
              <v-flex xs1>
                <img src="../../assets/icons/mid.png" alt="">
              </v-flex>
            </v-layout>
            <v-layout class="text-xs-center text-md-left" row wrap>
              <v-flex xs4>
                <p class="grey--text">Utility Hrs</p>
                <p><strong>{{ equipment.eqp_util_hrs }}</strong></p>
              </v-flex>
              <v-flex xs4>
                <p class="grey--text">Idle Hrs</p>
                <p><strong>{{ equipment.eqp_idle_hrs }}</strong></p>
              </v-flex>
              <v-flex xs4>
                <p class="grey--text">Liters</p>
                <p><strong>{{ equipment.eqp_fuel_liters }}</strong></p>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>

  <!-- No result -->
  <v-layout v-if="equipments.length === 0"
            class="margin-bottom"
            row wrap>
    <v-flex xs12>
      <v-card class="margin-bottom">
        <v-card-title>
          No results found.
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>

  <!-- Dialog -->
  <v-dialog v-model="dialog"
            transition="dialog-bottom-transition"
            v-bind:overlay="false"
            scrollable
            fullscreen>
    <v-card id="equipment-detail" tile>
      <v-toolbar style="position: fixed; z-index: 1; background: #20aee3">
        <v-btn class="btn-large no-padding" flat @click.native="dialog = false">
          <v-icon color="#fff">keyboard_backspace</v-icon> <a style="color: #fff">Back</a>
        </v-btn>
      </v-toolbar>
      <v-card-text style="padding-top: 90px">
        <v-container class="padding text-xs-left" fluid grid-list-lg>
          <v-layout row wrap>
            <v-flex xs3 sm2 md1 class="text-xs-center">
              <img class="equipment-icon" src="../../assets/icons/construction/bulldozer.svg" alt="" />
            </v-flex>
            <v-flex xs8 sm9 md10>
              <p class="equipment-code"><strong>{{ selectedEquipment.eqp_code }}</strong></p>
              <p class="client-name">{{ selectedEquipment.client_name ? selectedEquipment.client_name : 'PH Equipments Corp' }}</p>
            </v-flex>
            <v-flex xs1>
              <img src="../../assets/icons/mid.png" alt="">
            </v-flex>
          </v-layout>

          <!-- Current Week -->
          <div class="data-table">
            <v-layout row wrap>
              <v-flex class="white--text light-blue" xs12>
                Current Week
              </v-flex>
              <v-flex xs4>
                <p class="grey--text">Utility Hrs</p>
                <p><strong>{{ selectedEquipment.eqp_util_hrs }}</strong></p>
              </v-flex>
              <v-flex xs4>
                <p class="grey--text">Idle Hrs</p>
                <p><strong>{{ selectedEquipment.eqp_idle_hrs }}</strong></p>
              </v-flex>
              <v-flex xs4>
                <p class="grey--text">Liters</p>
                <p><strong>{{ selectedEquipment.eqp_fuel_liters }}</strong></p>
              </v-flex>
            </v-layout>
          </div>

          <!-- Recent Week -->
          <div class="data-table">
            <v-layout row wrap>
              <v-flex class="white--text yellow" xs12>
                Recent Week
              </v-flex>
              <v-flex xs4>
                <p class="grey--text">Utility Hrs</p>
                <p><strong>{{ selectedEquipment.eqp_util_hrs_recent_week }}</strong></p>
              </v-flex>
              <v-flex xs4>
                <p class="grey--text">Idle Hrs</p>
                <p><strong>{{ selectedEquipment.eqp_idle_hrs_recent_week }}</strong></p>
              </v-flex>
              <v-flex xs4>
                <p class="grey--text">Liters</p>
                <p><strong>{{ selectedEquipment.eqp_liters_recent_week }}</strong></p>
              </v-flex>
            </v-layout>
          </div>

          <!-- Week Comparison -->
          <div class="data-table">
            <v-layout row wrap>
              <v-flex class="white--text light-blue" xs12>
                Week Comparison
              </v-flex>
              <v-flex xs12>
                <bar-chart v-bind:data="weekComparisonData"
                           v-bind:options="chartOptions" />
              </v-flex>
            </v-layout>
          </div>
        </v-container>
      </v-card-text>
    </v-card>
  </v-dialog>

</div>
</template>

<script>
import BarChart from '@/components/chart/bar-chart';

export default {
  props: ['equipments', 'showDetail'],
  components: { BarChart },
  data() {
    return {
      selectedEquipment: {},
      dialog: false,
      chartOptions: {
        scales: {
          yAxes: [{
            gridLines: {
              display: false,
            },
            ticks: {
              beginAtZero: true,
            },
          }],
          xAxes: [{
            gridLines: {
              display: false,
            },
          }],
        },
      },
    };
  },
  methods: {
    showDetails(eqp) {
      if (this.showDetail) {
        this.selectedEquipment = eqp;
        this.dialog = true;
      }
    },
  },
  computed: {
    weekComparisonData() {
      return {
        labels: ['Utility Hrs', 'Idle Hrs', 'Liters'],
        datasets: [
          {
            label: 'Current',
            backgroundColor: ['#10C4D3', 'red', 'green'],
            data: [
              this.selectedEquipment.eqp_util_hrs,
              this.selectedEquipment.eqp_idle_hrs,
              this.selectedEquipment.eqp_fuel_liters,
            ],
          },
          {
            label: 'Previous',
            backgroundColor: ['#E0CF0A', 'red', 'green'],
            data: [
              this.selectedEquipment.eqp_util_hrs_recent_week,
              this.selectedEquipment.eqp_idle_hrs_recent_week,
              this.selectedEquipment.eqp_liters_recent_week,
            ],
          },
        ],
      };
    },
  },
  watch: {
    dialog(newVal) {
      if (!newVal) {
        setTimeout(() => {
          this.selectedEquipment = {};
        }, 200);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
#equipment-list {
  .equipment-icon {
    max-width: 50px;
  }
  .individual-usage {
    .card {
      border-bottom: 4px solid #FFDB01;
      border-radius: 4px;
    }
  }
  &.padding {
    padding: 1rem 2.3rem !important;
  }
}
#equipment-detail {
  .container.padding {
    padding: 0 1.5rem !important;
  }
  .equipment-icon {
    width: 3.5rem;
  }
  .data-table {
    margin-bottom: 20px;

    .flex {
      padding: 10px
    }
  }
}
</style>
