<template>
<div id="report">
  <v-layout style="padding-top: 10px; margin-bottom: 50px">
    <div class="col-sm-5 align-self-center" style="padding-left: 0">
      <h3 style="text-align: left; font-size: 1.38rem; color: #20aee3">Reports</h3>
      <ol class="breadcrumb" style="background: none !important; padding: 0 !important">
        <li class="breadcrumb-item active" tabindex="0" style="font-size: .75rem">
          Dashboard 
        </li>
        <li class="breadcrumb-item active" style="font-size: .75rem">Reports</li>
      </ol>
    </div>
  </v-layout>
  <report-table v-if="$parent.isTableView" />
  <report-chart v-if="!$parent.isTableView" />
</div>
</template>
<script>
import index from './index';
export default index;
</script>
