<template>
  <div id="report-table">
    <v-container class="no-padding" fluid grid-list-lg>
      <v-layout class="white" row wrap>
        <v-flex xs8 offset-xs1>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="searchFilter"
          ></v-text-field>
          <br>
        </v-flex>
        <v-flex xs1>
          <date-picker v-model="fd" v-bind:title="'From Date'"></date-picker>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-data-table v-bind:headers="equipmentTable.headers"
                        v-bind:items="equipmentTable.items"
                        v-bind:search="searchFilter"
                        class="no-border stripes black-text"
                        hide-actions>
            <template slot="items" slot-scope="props">
              <tr @click.stop="showDetails(props.item.eqp_code)">
                <td>{{ props.item.eqp_code }}</td>
                <td>{{ props.item.eqp_util_hrs | toDecimal }}</td>
                <td>{{ props.item.eqp_idle_hrs | toDecimal  }}</td>
                <td>{{ props.item.eqp_liters_per_hour | toDecimal  }}</td>
                <td>{{ props.item.parsed_date }}</td>
              </tr>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ searchFilter }}" found no results.
            </v-alert>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- Dialog -->
    <v-dialog v-model="dialog"
              transition="dialog-bottom-transition"
              v-bind:overlay="false"
              scrollable
              fullscreen>
      <v-card id="equipment-detail" tile>
        <v-toolbar style="position: fixed; z-index: 1; background: #20aee3">
          <v-btn class="btn-large no-padding" flat @click.native="dialog = false">
            <v-icon color="#fff">keyboard_backspace</v-icon> <a style="color: #fff">Back</a>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          
          <h5>{{ selectedEqp }}</h5>
          <horizontal-chart v-if="dialog"
                     v-bind:data="eqpReportDetails.day"
                     v-bind:options="chartOptionsDay" />
          <br>
          <horizontal-chart v-if="dialog"
                     v-bind:data="eqpReportDetails.month"
                     v-bind:options="chartOptionsMonth" />
            <hr>
            <h5 style="margin-left: 20px;">Equipment Utilization By Day</h5>
            <table v-if="is_fetched" class="table table-striped" style="width:100%">
            <thead>
              <td>Date</td>
              <td>Utility</td>
              <td>Idle</td>
              <td>Liter</td>
            </thead>
            <tbody>
             <tr v-for="data in day_sets" :key="data.day_of_year">
                <td>{{getDate(data.day_of_year)}}</td>
                <td>{{data.util_hrs | toDecimal }}</td>
                <td>{{data.idle_hrs | toDecimal }}</td>
                <td>{{data.fuel_liters | toDecimal }}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <h5 style="margin-left: 20px;">Equipment Utilization By Month</h5>
          <table v-if="is_fetched" class="table table-striped" style="width:100%">
            <thead>
              <td>Date</td>
              <td>Utility</td>
              <td>Idle</td>
              <td>Liter</td>
            </thead>
            <tbody>
             <tr v-for="data in month_sets" :key="data.month_sets">
                <td>{{getDateByMonth(data.month_of_year)}}</td>
                <td>{{data.util_hrs | toDecimal  }}</td>
                <td>{{data.idle_hrs | toDecimal }}</td>
                <td>{{data.fuel_liters | toDecimal }}</td>
              </tr>
            </tbody>
          </table>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DatePicker from '@/components/input/DatePicker.vue';
import HorizontalChart from '@/components/chart/horizontal-chart';

export default {
  name: 'report-table',
  components: { DatePicker, HorizontalChart },
  data() {
    return {
      searchFilter: '',
      fd: '',
      td: '',
      selectedEqp: '',
      eqpReportDetails: false,
      isFetching: false,
      is_fetched: false,
      dialog: false,
      day_sets: '',
      month_sets: [],
      chartOptionsMonth: {
        title: {
          display: true,
          text: 'Equipment report by Month',
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: false,
            },
            ticks: {
              beginAtZero: true,
            },  
          }],
          xAxes: [{
            gridLines: {
              display: false,
            },
          }],
        },
      },
      chartOptionsDay: {
        title: {
          display: true,
          text: 'Equipment report by Day',
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: false,
            },
            ticks: {
              beginAtZero: true,
            },
          }],
          xAxes: [{
            gridLines: {
              display: false,
            },
          }],
        },  
      },
      price: 100000,
      monthNames: ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ]
    };
  },
  methods: {
    showDetails(eqp) {
      this.selectedEqp = eqp;
      this.isFetching = true;
      this.dialog = true;
      this.$store
          .dispatch('report/fetchEqpReport', { eqp })
          .then((res) => {
            this.eqpReportDetails = res;
            this.day_sets = res.day_sets;
            this.month_sets = res.month_sets;
            this.is_fetched = true;
          })
          .finally(() => {
            this.isFetching = false;
          });
    },
    getReport() {
       this.$store.dispatch('report/fetchReports');
    },
    getDate(day) {
      const date = new Date(2018, 0, day);
      const month = date.getMonth();
      const year  = date.getFullYear();
      const report_day = date.getDay();

   //   return date.toLocaleDateString();
      //return this.monthNames[month] + ' ' + report_day + ', ' + year;
     // return this.getDateFromDayNum(day, 2018);
     return date.toLocaleDateString();
    },
    getDateByMonth(day) {
      

      const date = new Date(2018, day, 0);
      const month = date.getMonth();
      const year  = date.getFullYear();

    return this.monthNames[month]  + ' ' + year;
     // return this.getDateFromDayNum(day, 2018);
    },
    getDateFromDayNum (dayNum, year){

      var date = new Date();
      if(year){
          date.setFullYear(year);
      }
      date.setMonth(0);
      date.setDate(0);
      var timeOfFirst = date.getTime(); // this is the time in milliseconds of 1/1/YYYY
      var dayMilli = 1000 * 60 * 60 * 24;
      var dayNumMilli = dayNum * dayMilli;
      date.setTime(timeOfFirst + dayNumMilli);
      return date;
    }
  },
  filters: {
    toDecimal (value) { 
      return `${value.toLocaleString()}`
    }
  },
  computed: {
    equipmentTable() {
      return this.$store
                .getters['equipment/getEquipmentTable'](this.fd, this.fd);
    },
  },
};
</script>
