<template>
  <div id="report-chart">
    <v-container class="no-padding" fluid grid-list-lg>
      <div class="chart-box">
        <v-layout row wrap>
          <v-flex xs12>
            <line-chart v-bind:data="chartData.lineChart"
                        v-bind:options="lineChartOptions" />
          </v-flex>
        </v-layout>
      </div>
      <div class="graph-box">
        <v-layout class="padding text-xs-left" row wrap>
          <v-flex xs12>
            <p>Liters: <strong>{{ chartData.totalFuelLiters | currency }}</strong></p>
          </v-flex>
        </v-layout>
          <hr>
        <v-layout class="padding" row wrap>
          <v-flex class="text-xs-left" offset-xs1 xs5>
            <div class="data-utility-display">
              <small>Utility Hrs</small>
              <p><strong>{{ chartData.doughnutChart.datasets[0].data[0] | currency }}</strong></p>
            </div>
            <div class="data-idle-display">
              <small>Idle Hrs</small>
              <p><strong>{{ chartData.doughnutChart.datasets[0].data[1] | currency }}</strong></p>
            </div>
          </v-flex>
          <v-flex xs6>
            <doughnut-chart v-bind:data="chartData.doughnutChart"
                            v-bind:options="doughnutChartOptions"
                            v-bind:height="145">
            </doughnut-chart>
          </v-flex>
        </v-layout>
      </div>
    </v-container>
  </div>
</template>

<script>
import DoughnutChart from '@/components/chart/doughnut-chart';
import DatePicker from '@/components/input/DatePicker.vue';
import LineChart from '@/components/chart/line-chart';

export default {
  name: 'report-chart',
  components: {
    LineChart,
    DoughnutChart,
    DatePicker,
  },
  data() {
    return {
      searchFilter: '',
      fromDate: '',
      toDate: '',
      lineChartOptions: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              callback: () => {
                return '';
              },
            },
          }],
        },
      },
      doughnutChartOptions: {
        legend: {
          display: false,
        },
      },
    };
  },
  computed: {
    chartData() {
      return this.$store.getters['report/getChartData'];
    },
  },
};
</script>

<style lang="scss">
#report-chart {
  text-align: center;

  header {
    margin: 0;
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: #F0F0F0;
    color: #262626;
  }

  header span {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-top: 16px;
  }
  .chart-box {
    padding: 16px 16px 6rem;
    background: #F7F7F7;
  }
  .graph-box {
    background: #FFF;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    padding: 1.5rem 1rem;
    margin: auto;
    width: 80%;
    margin-top: -3.6rem;

    .data-utility-display,
    .data-idle-display {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 1rem;
        height: 1rem;
        left: -20px;
        top: 3px;
      }
    }
    .data-utility-display {
      &::after {
        background-color: #FFDB01;
      }
    }
    .data-idle-display {
      &::after {
        background-color: #A4AFB4;
      }
    }
  }
}
</style>

