<template>
  <div id="page-not-found">
    <header>
      <span>404 Page Not Found</span>
    </header>
    <div class="content">
      <p>Now is the time for all good men to come to the aid of their party.</p><br>
      <router-link v-bind:to="{ name: 'home' }">Back to Home Page</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'page-not-found',
};
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
