    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-boring-machine:before { content: "\f100"; }
.flaticon-boring-machine-1:before { content: "\f101"; }
.flaticon-bulldozer:before { content: "\f102"; }
.flaticon-bulldozer-1:before { content: "\f103"; }
.flaticon-bulldozer-2:before { content: "\f104"; }
.flaticon-bulldozer-3:before { content: "\f105"; }
.flaticon-cold-franer:before { content: "\f106"; }
.flaticon-construction-crane:before { content: "\f107"; }
.flaticon-construction-crane-1:before { content: "\f108"; }
.flaticon-construction-crane-2:before { content: "\f109"; }
.flaticon-crane-truck:before { content: "\f10a"; }
.flaticon-crane-truck-1:before { content: "\f10b"; }
.flaticon-dragline:before { content: "\f10c"; }
.flaticon-excavator:before { content: "\f10d"; }
.flaticon-excavator-1:before { content: "\f10e"; }
.flaticon-excavator-2:before { content: "\f10f"; }
.flaticon-excavator-3:before { content: "\f110"; }
.flaticon-excavator-4:before { content: "\f111"; }
.flaticon-excavator-5:before { content: "\f112"; }
.flaticon-grader:before { content: "\f113"; }
.flaticon-gunite-truck:before { content: "\f114"; }
.flaticon-hammer-truck:before { content: "\f115"; }
.flaticon-harbor-crane:before { content: "\f116"; }
.flaticon-harbor-crane-1:before { content: "\f117"; }
.flaticon-loader-truck:before { content: "\f118"; }
.flaticon-loader-truck-1:before { content: "\f119"; }
.flaticon-loader-truck-2:before { content: "\f11a"; }
.flaticon-loader-truck-3:before { content: "\f11b"; }
.flaticon-loader-truck-4:before { content: "\f11c"; }
.flaticon-loader-truck-5:before { content: "\f11d"; }
.flaticon-mixer-truck:before { content: "\f11e"; }
.flaticon-mobile-tank:before { content: "\f11f"; }
.flaticon-paver:before { content: "\f120"; }
.flaticon-paver-1:before { content: "\f121"; }
.flaticon-paver-2:before { content: "\f122"; }
.flaticon-paver-3:before { content: "\f123"; }
.flaticon-paver-4:before { content: "\f124"; }
.flaticon-paver-5:before { content: "\f125"; }
.flaticon-tank-truck:before { content: "\f126"; }
.flaticon-tipper-truck:before { content: "\f127"; }
.flaticon-tipper-truck-1:before { content: "\f128"; }
.flaticon-tipper-truck-2:before { content: "\f129"; }
.flaticon-tractor:before { content: "\f12a"; }
.flaticon-tractor-1:before { content: "\f12b"; }
.flaticon-transformer-truck:before { content: "\f12c"; }
.flaticon-truck:before { content: "\f12d"; }
.flaticon-truck-crane:before { content: "\f12e"; }
.flaticon-truck-crane-1:before { content: "\f12f"; }
.flaticon-truck-crane-2:before { content: "\f130"; }
.flaticon-truck-crane-3:before { content: "\f131"; }
    
    $font-Flaticon-boring-machine: "\f100";
    $font-Flaticon-boring-machine-1: "\f101";
    $font-Flaticon-bulldozer: "\f102";
    $font-Flaticon-bulldozer-1: "\f103";
    $font-Flaticon-bulldozer-2: "\f104";
    $font-Flaticon-bulldozer-3: "\f105";
    $font-Flaticon-cold-franer: "\f106";
    $font-Flaticon-construction-crane: "\f107";
    $font-Flaticon-construction-crane-1: "\f108";
    $font-Flaticon-construction-crane-2: "\f109";
    $font-Flaticon-crane-truck: "\f10a";
    $font-Flaticon-crane-truck-1: "\f10b";
    $font-Flaticon-dragline: "\f10c";
    $font-Flaticon-excavator: "\f10d";
    $font-Flaticon-excavator-1: "\f10e";
    $font-Flaticon-excavator-2: "\f10f";
    $font-Flaticon-excavator-3: "\f110";
    $font-Flaticon-excavator-4: "\f111";
    $font-Flaticon-excavator-5: "\f112";
    $font-Flaticon-grader: "\f113";
    $font-Flaticon-gunite-truck: "\f114";
    $font-Flaticon-hammer-truck: "\f115";
    $font-Flaticon-harbor-crane: "\f116";
    $font-Flaticon-harbor-crane-1: "\f117";
    $font-Flaticon-loader-truck: "\f118";
    $font-Flaticon-loader-truck-1: "\f119";
    $font-Flaticon-loader-truck-2: "\f11a";
    $font-Flaticon-loader-truck-3: "\f11b";
    $font-Flaticon-loader-truck-4: "\f11c";
    $font-Flaticon-loader-truck-5: "\f11d";
    $font-Flaticon-mixer-truck: "\f11e";
    $font-Flaticon-mobile-tank: "\f11f";
    $font-Flaticon-paver: "\f120";
    $font-Flaticon-paver-1: "\f121";
    $font-Flaticon-paver-2: "\f122";
    $font-Flaticon-paver-3: "\f123";
    $font-Flaticon-paver-4: "\f124";
    $font-Flaticon-paver-5: "\f125";
    $font-Flaticon-tank-truck: "\f126";
    $font-Flaticon-tipper-truck: "\f127";
    $font-Flaticon-tipper-truck-1: "\f128";
    $font-Flaticon-tipper-truck-2: "\f129";
    $font-Flaticon-tractor: "\f12a";
    $font-Flaticon-tractor-1: "\f12b";
    $font-Flaticon-transformer-truck: "\f12c";
    $font-Flaticon-truck: "\f12d";
    $font-Flaticon-truck-crane: "\f12e";
    $font-Flaticon-truck-crane-1: "\f12f";
    $font-Flaticon-truck-crane-2: "\f130";
    $font-Flaticon-truck-crane-3: "\f131";