<template>
  <div id="billing">

    <div class="step-indicator">
      <div class="step"
           v-for="(step, idx) in steps"
           v-bind:key="idx"
           v-bind:class="{ 'active' : step }">
      </div>
    </div>

    <v-container class="no-padding"  fluid grid-list-lg>
      <v-layout style="padding-top: 10px; margin-bottom: 50px">
        <div class="col-sm-5 align-self-center" style="padding-left: 0">
          <h3 style="text-align: left; font-size: 1.38rem; color: #20aee3">Create Billings</h3>
          <ol class="breadcrumb" style="background: none !important; padding: 0 !important">
            <li class="breadcrumb-item active" tabindex="0" style="font-size: .75rem">
              Dashboard 
            </li>
            <li class="breadcrumb-item active" style="font-size: .75rem">Billings</li>
          </ol>
        </div>
      </v-layout>
      <v-layout row wrap>
        <div class="content no-padding text-xs-left">
          <div v-if="currentStep === 1" class="step step-form step-1">
            <span>From</span>
            <div class="input-group">
              <v-text-field v-model="fromDate"
                            name="fromDate"
                            single-line>
              </v-text-field>
              <date-picker v-model="fromDate"></date-picker>
            </div>
            <br>
            <span>To</span>
            <div class="input-group">
              <v-text-field v-model="toDate"
                            class="inline-block"
                            name="toDate"
                            single-line>
              </v-text-field>
              <date-picker v-model="toDate"></date-picker>
            </div>
          </div>
          <div v-if="currentStep === 2" class="step step-form step-2">
            <p><strong>Date</strong></p>
            <p>
              {{ fromDate }} to {{ toDate }}
            </p>
            <p class="text-padding">Select a customer to bill:</p>
            <v-layout v-for="(billing, idx) in billableCustomers"
                      v-bind:key="idx"
                      @click="fetchBillableUtils(billing)"
                      class="clickable margin-bottom"
                      row wrap>
              <v-flex xs12>
                <v-card>
                  <v-card-text>
                    <p class="float-left" style="width:90%;"><strong>{{ billing.customer_name }}</strong></p>
                    <i class="float-right fas fa-arrow-alt-circle-right"></i>
                    <div class="clearfix"></div>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </div>
          <div v-if="currentStep === 3" class="step step-form step-3">
            <v-layout row wrap>
              <v-flex xs12>
                <table class="billing-details"
                       style="width: 80%; margin: auto;">
                  <tbody>
                    <tr>
                      <td>Date</td>
                      <td>{{ dtToday() }}</td>
                    </tr>
                    <tr>
                      <td>Scope</td>
                      <td>{{ fromDate }} to {{ toDate }}</td>
                    </tr>
                    <tr>
                      <td>Customer</td>
                      <td>{{ selectedBilling.customer_name }}</td>
                    </tr>
                    <tr>
                      <td>Total Bill</td>
                      <td class="green-text">₱ {{ totalBill  | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12>
                <v-data-table v-bind:headers="billableUtils.headers"
                              v-bind:items="billableUtils.items"
                              v-model="selected"
                              item-key="eqp_code"
                              select-all
                              class="no-border stripes black-text"
                              hide-actions>
                  <template slot="items" slot-scope="props">
                      <td >
                        <v-checkbox v-model="props.selected"
                                    hide-details
                                    primary>
                        </v-checkbox>
                      </td>
                      <td>{{ props.item.eqp_code }}</td>
                      <td>{{ props.item.eqp_util_hrs }}</td>
                      <td>₱ {{ props.item.billing_amount | currency }}</td>
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </div>
          <div v-if="currentStep === 4" class="step step-form step-4" id="printable">
            <v-layout class="padding" row wrap >
                <img style="float:left;width:200px;    height: 150px;" v-bind:src="user.company_logo_base64">
                <div  style="float:left;margin-left:20px">
                <h1>{{user.company_name}}</h1>
                <h4 style="margin-top: -5px;position: relative;"> Don Julian Rodriquez Avenue</h4>
                <h4 style="margin-top: -5px;position: relative;">09020392093</h4>
                </div>
              <br>
             
              <v-flex class="border-bottom" xs12 style="width:100%">
                 <table class="billing-details"  style="width:100%">
                  <tbody>
                    <tr>
                      <td>Date</td>
                      <td>{{ dtToday() }}</td>
                    </tr>
                    <tr>
                      <td>Period</td>
                      <td>{{ fromDate }} to {{ toDate }}</td>
                    </tr>
                    <tr>
                      <td>Customer</td>
                      <td>{{ selectedBilling.customer_name }}</td>
                    </tr>
                    <tr>
                      <td>Total Bill</td>
                      <td class="green-text">₱ {{ totalBill  | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </v-flex>
              
               <v-flex xs12>
               <v-data-table v-bind:headers="billableUtils.headers"
                              v-bind:items="selected"
                              class="no-border stripes black-text"
                              hide-actions>
                  <template slot="items" slot-scope="props">
                      <td>{{ props.item.eqp_code }}</td>
                      <td>{{ props.item.eqp_util_hrs }}</td>
                      <td>₱ {{ props.item.billing_amount | currency }}</td>
                  </template>
                </v-data-table>
               </v-flex>
            </v-layout>
            <v-flex class="border-bottom" xs12>
                 <table class="table" style="width:100%">
                  <tbody>
                    <tr>
                      <td>Prepared By <br> {{user.user_first}} {{user.user_last}}</td>
                      <td>Verified By</td>
                      <td>Approved By</td>
                    </tr>
                  </tbody>
                </table>
            </v-flex>
          </div>
          <div v-if="currentStep === 5" class="step step-form step-5" id="printable">
            <v-layout class="padding" row wrap >
                <img style="float:left;width:200px;    height: 150px;" v-bind:src="user.company_logo_base64">
                <div  style="float:left;margin-left:20px">
                <h1>{{user.company_name}}</h1>
                <h4 style="margin-top: -20px;position: relative;"> {{user.company_address}}</h4>
                <h4 style="margin-top: -20px;position: relative;"> {{user.company_contact}}</h4>
                </div>
              <br>
             <br><br>
              <v-flex class="border-bottom" xs12 style="width:100%">
                 <table class="billing-details"  style="width:100%">
                  <tbody>
                    <tr>
                      <td>Date</td>
                      <td>{{ dtToday() }}</td>
                    </tr>
                    <tr>
                      <td>Period</td>
                      <td>{{ fromDate }} to {{ toDate }}</td>
                    </tr>
                    <tr>
                      <td>Customer</td>
                      <td>{{ selectedBilling.customer_name }}</td>
                    </tr>
                    <tr>
                      <td>Total Bill</td>
                      <td class="green-text">₱ {{ totalBill  | currency}}</td>
                    </tr>
                  </tbody>
                </table><br>
              </v-flex>
              
               <v-flex xs12>
                <table style="width:100%">
                    <tr>
                      <td>Equipment</td>
                      <td>Utilized Hours</td>
                      <td>Billable Amount</td>
                    </tr>
                    <tr v-for="item in selected">
                        <td>{{item.eqp_code}}</td>
                        <td>{{item.eqp_util_hrs }} </td>
                        <td>{{item.billing_amount | currency }}</td>
                    </tr>
                </table>
                <br><br>
               </v-flex>
            </v-layout>
            <br><br><br><br><br>
            <v-flex class="border-bottom" xs12>
                 <table class="table" style="width:100%;text-align:center;text-transform:capitalize">
                  <tbody>
                    <tr>
                      <td>Prepared By <hr> {{user.user_first}} {{user.user_last}}</td>
                      <td>Verified By<hr>{{verified_by}}</td>
                      <td>Approved By<hr>{{approved_by}}</td>
                    </tr>
                  </tbody>
                </table>
            </v-flex>
          </div>
        </div>
      </v-layout >
      <div class="no-print"> <!-- {{user_name}} -->
      <v-layout class="controls padding" v-if="currentStep === 1" row wrap>
        <v-flex xs6>
          <v-btn class="cancel-btn" @click.native="gotoBillingList()" block>CANCEL</v-btn>
        </v-flex>
        <v-flex xs6>
          <v-btn @click.native="fetchBillableCustomers()" block color="primary">NEXT</v-btn>
        </v-flex>
      </v-layout>
      <v-layout class="controls padding" v-if="currentStep === 2" row wrap>
        <v-flex xs12>
          <v-btn class="cancel-btn" @click.native="currentStep = 1" block>GO BACK</v-btn>
        </v-flex>
      </v-layout>
      <v-layout class="controls padding" v-if="currentStep === 3" row wrap>
        <v-flex xs6>
          <v-btn class="cancel-btn" @click.native="currentStep = 2" block>BACK</v-btn>
        </v-flex>
        <v-flex xs6>
          <v-btn block color="primary" @click.native="currentStep = 4">NEXT</v-btn>
        </v-flex>
      </v-layout>
      <v-layout class="controls padding" v-if="currentStep === 4" row wrap>
        <v-flex xs6>
          <v-btn class="cancel-btn" @click.native="currentStep = 3" block>BACK</v-btn>
        </v-flex>
        <v-flex xs6>
          <v-btn block @click.native="addBillingVerification()" color="primary">BILL</v-btn>
        </v-flex>
      </v-layout>

      <v-layout class="controls padding" v-if="currentStep === 5" row wrap>
        <v-flex xs6>
          <v-btn class="cancel-btn" @click.native="gotoBillingList()" block>BACK</v-btn>
        </v-flex>
        <v-flex xs6>
          <v-btn block @click.native="printBillingReport()" color="primary">PRINT</v-btn>
        </v-flex>
      </v-layout>
      </div>
    </v-container>

   <v-snackbar v-bind:top="true"
               v-model="snackBar">
      Creating bill...
    </v-snackbar>
     <v-dialog v-model="dialog" persistent max-width="400">
      <v-card>
        <v-card-title class="headline">Add name of approved/verified by </v-card-title>
        <v-card-text>
          <v-flex  sm12>
          <v-text-field v-model="approved_by"
            label="Approved By"
          ></v-text-field>
        </v-flex>
        <v-flex sm12>
          <v-text-field v-model="verified_by"
            label="Verified By"
          ></v-text-field>
        </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="dialog = false">Cancel</v-btn>
          <v-btn flat @click="createBilling()">BILL</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import index from './index';
export default index;
</script>

<style lang="scss">
@import "./style.scss";
</style>
