<template>
  <div id="billing-list">
    <v-container class="padding" fluid grid-list-lg>
      <v-layout style="padding-top: 10px; margin-bottom: 50px">
        <div class="col-sm-5 align-self-center" style="padding-left: 0">
          <h3 style="text-align: left; font-size: 1.38rem; color: #20aee3">Billing List</h3>
          <ol class="breadcrumb" style="background: none !important; padding: 0 !important">
            <li class="breadcrumb-item active" tabindex="0" style="font-size: .75rem">
              Dashboard 
            </li>
            <li class="breadcrumb-item active" style="font-size: .75rem">Billing List</li>
          </ol>
        </div>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-text-field v-model="searchFilter"
                        name="search"
                        label="Search"
                        single-line
                        append-icon="search">
          </v-text-field>
        </v-flex>
      </v-layout>

      <v-layout v-for="(billing, idx) in billings"
                v-bind:key="idx"
                row wrap>
        <v-flex xs12 @click="showBillingInfo(billing)">
          <v-card class="margin-bottom clickable">
            <v-card-title>
              <v-flex xs6>
                <p class="text-xs-left">
                  <strong>{{billing.customer_name}}</strong><br>
                  <span class="grey-text">Billing #{{billing.billing_no}}</span>
                </p>
              </v-flex>
              <v-flex xs6>
                <p class="text-xs-right">
                  <span>₱ {{billing.amount | currency}}</span><br>
                  <span class="grey-text"></span>
                </p>
              </v-flex>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>

      <!-- No search results -->
      <v-layout v-if="billings.length === 0" row wrap>
        <v-flex xs12>
          <v-card class="margin-bottom">
            <v-card-title>
                <span v-if="searchFilter">No results found.</span>
                <span v-if="!searchFilter">No billings at the moment.</span>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>

      <v-btn color="primary" fixed bottom right fab @click.native="createBilling()">
        <i class="fas fa-plus"></i>
      </v-btn>
    </v-container>

    
    <v-dialog v-model="dialog"
              transition="dialog-bottom-transition"
              v-bind:overlay="false"
              scrollable
              fullscreen>
      <v-card id="equipment-detail" tile>
        <v-toolbar style="position: fixed; z-index: 1; background: #20aee3">
          <v-btn class="btn-large no-padding" flat @click.native="dialog = false">
            <v-icon color="#fff">keyboard_backspace</v-icon> <a style="color: #fff">Back</a>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout class="padding" row wrap  id="printable">
                <div  style="float:left;margin-left:20px">
                <h1>{{selected_billing.provider_name}}</h1>
                </div>
              <br>
             <br><br>
              <v-flex class="border-bottom" xs12 style="width:100%">
                
                 <table class="billing-details"  style="width:100%">
                  <tbody>
                    <tr>
                      <td>Date</td>
                      <td>{{ getDate(selected_billing.billing_date) }}</td>
                    </tr>
                    <tr>
                      <td>Period</td>
                      <td>{{ getDate(selected_billing.billing_date_from) }} to {{ getDate(selected_billing.billing_date_to) }}</td>
                    </tr>
                    <tr>
                      <td>Customer</td>
                      <td>{{ selected_billing.customer_name }}</td>
                    </tr>
                    <tr>
                      <td>Total Bill</td>
                      <td class="green-text">₱ {{ selected_billing.amount  | currency}}</td>
                    </tr>
                  </tbody>
                </table><br> 
              </v-flex>
              
               <v-flex xs12>
                <table style="width:100%">
                    <tr>
                      <td>Equipment</td>
                      <td>Utilized Hours</td>
                      <td>Billable Amount</td>
                    </tr>
                    <tr v-for="item in eqp_list">
                        <td>{{item.eqp_code}}</td>
                        <td>{{item.eqp_util_hrs }} </td>
                        <td>{{item.billing_amount | currency }}</td>
                    </tr>
                </table>
                <br><br>
                <br><br>
            <v-flex class="border-bottom" xs12>
                 <table class="table" style="width:100%;text-align:center;text-transform:capitalize">
                  <tbody>
                    <tr>
                      <td>Prepared By<hr> {{selected_billing.billing_prepared_by}}</td>
                      <td style="width:50px"></td>
                      <td>Verified By<hr>{{selected_billing.verified_by}}</td>
                      <td style="width:50px"></td>
                      <td>Approved By<hr>{{selected_billing.approved_by}}</td>
                    </tr>
                  </tbody>
                </table>
            </v-flex>

                <v-btn block @click.native="printBillingReport()" class="no-print" color="primary">PRINT</v-btn>
               </v-flex>
            </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import Billing from './Billing.vue';

export default {
  name: 'billing-list',
  data() {
    return {
      dialog: false,
      searchFilter: '',
      eqp_list: [],
      eqp_utils_list: [],
      selected_billing: []
    };
  },
  filters: {
    toDecimal (value) { 
      return `${value.toLocaleString()}`
    }
  },
  methods: {
    printBillingReport() {
      /*
      var printContents = document.getElementById('printable').innerHTML;
      var originalContents = document.body.innerHTML;
 
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
      */

      var divToPrint=document.getElementById('printable');

  var newWin=window.open('','Print-Window');

  newWin.document.open();

  newWin.document.write('<html><style>* { font-family: "Montserrat", sans-serif; } @media print {    .no-print, .no-print * {display: none !important;}}</style><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');

  newWin.document.close();
    },

    getDate(date) {

      if (date != null) {
        var d = date.replace( /\D+/g, '');
        var date1 = new Date(parseInt(d));
        return date1.toLocaleDateString();
      }
      return null;
    },
    showBillingInfo(data) {
      this.dialog = true;
      this.selected_billing = data;

      this.getBillingEqp(data);
    },
    createBilling() {
      this.$router.push({ name: Billing.name });
    },
    getBillingEqp(data) {
      const p = {
        billing_id: data.id
      };
      this.$store
          .dispatch('billing/fetchBillableEqpByBillingID', p)
          .then(response => {
            this.eqp_list = response.data;
            this.getBillingEqpUtils(data);
          });
    },
    getBillingEqpUtils(data) {
      const p = {
        billing_id: data.id
      };
      this.$store
          .dispatch('billing/fetchBillableAllUtilsByBillingID', p)
          .then(response => {
            this.eqp_utils_list = response.data;
          });
    },
  },
  computed: {
    billings() {
      return this.$store.getters['billing/getBillings'](this.searchFilter);
    },
    user() {
      return JSON.parse(localStorage.getItem('user'));
    },
  },
  mounted() {
    this.$store.dispatch('billing/fetchBillings');
  },
};
</script>

<style lang="scss">
#billing-list {
  position: relative;
}
</style>
