#billing {
  position: relative;

  .step-form.step-3 {
    padding: 15px 0 65px;
    width: 100%;
  }
  .fa-plus {
    font-size: 25px;
  }
  .step-indicator {
    .step {
      height: 5px;
      width: calc(100vw / 4 - 2px);
      background: #D4DADB;
      display: inline-block;
      margin: 3px 1px 0;
      vertical-align: top;

      &.active {
        background: #4285F4;
      }
    }
  }
  .step-form {
    padding: 15px 0 45px;
    margin: auto;
    width: 80%;
  }
  .controls {
    background: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    padding-right: 2px !important;

    .btn {
      height: 48px;
    }
    .cancel-btn {
      color: #4285F4;
    }
  }
  .input-group--text-field {
    padding-top: 10px;
  }
  .card {
    padding: 10px 5px;
  }
  .fa-arrow-alt-circle-right {
    color: #CECECE;
    font-size: 1.4rem;
    vertical-align: middle
  }
  .text-padding {
    font-size: 18px;
    margin: 12px 0;
  }
  .billing-details {
    tr {
      td {
        text-align: left;
      }
      td:nth-child(even) {
        padding-left: 14px;
        font-weight: 700;
      }
    }
  }
}
