<template>
  <div id="provider">
    <v-container class="padding" fluid grid-list-lg>
      <v-layout class="breadcrumb_layout">
        <div class="col-sm-5 align-self-center">
          <h3 class="breadcrumb_bigtxt"><h3> Providers </h3></h3>
          <ol class="breadcrumb">
            <li class="breadcrumb_smalltxt breadcrumb-item active" tabindex="0">
              Dashboard
            </li>
            <li class="breadcrumb_smalltxt breadcrumb-item active">Providers</li>
          </ol>
        </div>
      </v-layout>
     <!-- test table -->
      <v-card style="box-shadow: none !important">
      <v-card-title>
        <v-spacer></v-spacer>
        <v-text-field class="search_vtxtfield" v-model="search" label="Search" 
          single-line hide-details>
          <v-icon dark color="#20aee3" slot="append">search</v-icon>
        </v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="active_provider" :search="search">
        <template v-slot:items="props">
          <td class="tdeqp_provider"
            @click.stop="eqpGetEqpByProvider(props.item.id,props.item.eqp_provider); dialog = true">
            {{ props.item.eqp_provider }}
          </td>
          <td class="tdeqp_email">
            {{ props.item.eqp_provider_email }}
          </td>
          <td class="tdeqp_contact">
            {{ props.item.eqp_provider_contact }}
          </td>
          <td class="tdeqp_address">
            {{ props.item.eqp_provider_address }}
          </td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
      </v-card>
      <!-- /test table -->
      <!-- modal -->
      <v-dialog v-model="dialog" fullscreen >
        <v-card class="modal_vcard">
          <v-toolbar class="modal_toolbar" dark color="#20aee3">
            <v-btn icon dark @click="dialog = false">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title class="modal_toolbar_title">
              {{provider_name}} - Equipments
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-menu class="full-right" close-on-content-click bottom right>
                <i class="icon-note icons" slot="activator"></i>
                <v-list>
                  <v-list-tile>
                    <v-list-tile-title @click="drawer = !drawer; mapeqp = false"
                      style="cursor:pointer">
                      <i class="addeqp fa fa-random" aria-hidden="true"></i>
                      Add Equipment
                    </v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-title @click="drawer = !drawer; mapeqp = true"
                      style="cursor:pointer">
                      <i class="mapeqp fa fa-tags" aria-hidden="true"></i>
                      Map Equipment
                    </v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </v-toolbar-items>
          </v-toolbar>
  
          <v-card-text>
          <!-- test table -->
           <v-container>
              <v-card class="modal_table">
            <v-card-title>
              <v-spacer></v-spacer>
              <v-text-field class="search_vtxtfield" v-model="search" append-icon="search" label="Search" 
                single-line hide-details>
              </v-text-field>
            </v-card-title>
            <v-data-table :headers="headersEqpByProvider" :items="eqp_by_provider"
              :search="search">
              <template v-slot:items="props">
                <td class="tdeqp_code">{{ props.item.eqp_code }}</td>
              </template>
              <template v-slot:no-results>
                <v-alert :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
                </v-alert>
              </template>
            </v-data-table>
            </v-card>
           </v-container>
          <!-- /test table -->
          </v-card-text>
           <!-- map drawer -->
          <v-navigation-drawer :stateless="snackbar" class="app-nav-bar" width="500" v-model="drawer" absolute temporary right>
            <!-- mapping nav -->
            <div class="nav-content" v-if="mapeqp === true">
              <v-list class="pa-1">
                <div class="row" style="padding-right: 20px; padding-left: 20px">
                  <div class="user-details col-sm-5 align-self-center">
                    <h1 class="drawer_title"> MAP EQUIPMENT</h1>
                  </div>
                </div>
              </v-list>

              <v-divider></v-divider>

              <v-list class="nav-bar-items pt-0" dense>
                <v-flex xs12 sm12 >
                  <v-select :items="items" attach label="Select Equipment.." v-model="nullEqps.nulleqp">
                  </v-select>
                </v-flex>
              </v-list>
              <div class="draweroptions">
                <button type="button" class="cancelbtn btn btn-danger btn-sm"
                  @click.stop="nullEqps.nullEqps = '';drawer = !drawer;">Cancel
                </button>
                <button type="button" class="savebtn btn btn-primary btn-sm" 
                  v-on:click="nullEqps.nullEqps = ''; eqpMapProviderToEqp">
                  Save
                </button>
              </div>
            </div>
          <!-- /map nav -->

          <!-- add nav -->
          <div class="nav-content" v-if="mapeqp === false">
            <v-list class="pa-1">
              <div class="row" style="padding-right: 20px; padding-left: 20px">
                <div class="user-details col-sm-5 align-self-center">
                  <h1 class="drawer_title">ADD EQUIPMENT</h1>
                </div>
              </div>
            </v-list>

            <v-divider></v-divider>

            <v-list class="nav-bar-items pt-0" dense>
              <v-flex xs12 sm12 >
                <v-flex xs12 sm12>
                <v-text-field label="Device Code" v-model="eqpData.eqp_code">
                </v-text-field>
              </v-flex>
              <v-flex xs12 sm12 >
                <v-select :items="items1" attach label="Equipment Type.." v-model="eqpData.eqp_type">
                </v-select>
              </v-flex>
              <v-flex xs12 sm12 >
                <v-select :items="items2" attach label="Equipment Model.." v-model="eqpData.eqp_model">
                </v-select>
              </v-flex>
              <v-flex xs12 sm12 >
                <v-select :items="items3" attach label="Equipment Brand.." v-model="eqpData.eqp_brand">
                </v-select>
              </v-flex>
              </v-flex>
            </v-list>
            <div class="draweroptions">
              <button type="button" class="cancelbtn btn btn-danger btn-sm"
                @click.stop="emptyAddEqpFields">Cancel
              </button>
              <button type="button" class="savebtn btn btn-primary btn-sm"
                @click="eqpInsertEqpWithProvider">
                Save
              </button>
            </div>
          </div>
          <!-- /add nav -->
          </v-navigation-drawer>
          <!-- /map drawer -->
        </v-card>
      </v-dialog>
      <!-- /modal -->
    </v-container>
    <!-- snackbar -->
  <v-snackbar v-model="snackbar" :bottom="y === 'bottom'" :timeout="timeout" :color="colorSuccess">
    {{ text }}
    <v-btn dark flat @click="snackbar = false"> Close </v-btn>
  </v-snackbar>
  <!-- /snackbar -->
  </div>
</template>

<script>
import axios from '@/utils/Axios';
import { Auth } from '@/services/Auth';
import { Storage } from '@/services/Storage';

export default {
  name: 'provider',
  data() {
    return {
      colorSuccess: '',
      // snackbar
      snackbar: false,
      y: 'bottom',
      x: null,
        mode: '',
        timeout: 6000,
        text: '',
      // /snackbar
      items1: [], // Equipment Types
      items2: [], // Equipment Models
      items3: [], // Equipment Brand
      mapeqp: null,
      drawer: null,
      provider_name: '',
      provider_id: '',
      dialog: false,
      search: '',
      active_provider: [],
      eqp_by_provider: [],
      items: [],
      eqpnull: [],
      eqpData : {
        eqp_code: '',
        eqp_type: '',
        eqp_model: '',
        eqp_brand: '',
      },
      nullEqps: {
        nulleqp: ''
      },
      headersEqpByProvider: [
        {
          text: 'Equipment',
          align: 'left',
          sortable: false,
          value: 'eqp_code'
        }
      ],
      headers: [
        {
          text: 'Provider',
          align: 'left',
          sortable: false,
          value: 'eqp_provider'
        },
        {
          text: 'Email',
          align: 'left',
          sortable: false,
          value: 'eqp_provider_email'
        },
        {
          text: 'Contact no.',
          align: 'left',
          sortable: false,
          value: 'eqp_provider_contact'
        },
        {
          text: 'Address',
          align: 'left',
          sortable: false,
          value: 'eqp_provider_address'
        }
      ],
      loader: null,
      loading: false,
      loading5: false
    };
  },
  mounted() {
    this.getActiveProvider();
    this.eqpGetEqpByNull();
    this.eqpGetAllEqpType();
    this.eqpGetAllModel();
    this.eqpGetAllBrand();
  },
  methods: {
    emptyAddEqpFields() {
      this.eqpData.eqp_code = '';
      this.eqpData.eqp_type = '';
      this.eqpData.eqp_model = '';
      this.eqpData.eqp_brand = '';
      this.drawer = !this.drawer;
    },
    getActiveProvider() {
      axios.get(`/getActiveProvider?token=${localStorage.token}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.active_provider = response.data;
          }
        })
    },
    eqpGetEqpByProvider(eqp_provider_id, eqp_provider) {
      this.provider_id = eqp_provider_id;
      this.provider_name = eqp_provider;
      axios.get(`/eqpGetEqpByProvider?eqp_provider_id=${eqp_provider_id}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.eqp_by_provider = response.data;
          }
        })
    },
    eqpGetEqpByNull() {
      axios.get(`/eqpGetEqpByNull`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.items.push(response.data[key].eqp_code);
              }
            }
          }
        });
    },
    eqpMapProviderToEqp() {
      const c = this;
      if (this.nullEqps.nulleqp === '') {
         this.text = 'Field must not be empty';
         this.snackbar = true;
         this.colorSuccess = 'error';
      } else {
        this.text = 'Saved'
        this.snackbar = true;
        this.colorSuccess = 'success';
        axios.post(`/eqpMapProviderToEqp`, {
          eqp_code: c.nullEqps.nulleqp,
          provider_id: this.provider_id
        }).then(function(response){
        });
        c.drawer = !this.drawer;
        c.eqpGetEqpByProvider(this.provider_id);
      }
    },
    eqpInsertEqpWithProvider() {
      const c = this;
      if (this.eqpData.eqp_code === '' || this.eqpData.eqp_type === '' || this.eqpData.eqp_model === '' ||
       this.eqpData.eqp_brand === '') {
         this.isEmpty = this.eqpData.eqp_code || this.eqpData.eqp_type || this.eqpData.eqp_model || 
                        this.eqpData.eqp_brand;
         this.text = 'Field must not be empty';
         this.snackbar = true;
         this.colorSuccess = 'error';
       } else {
          this.text = 'Saved'
          this.snackbar = true;
          this.colorSuccess = 'success';
          axios.post(`/eqpInsertEqpWithProvider`, {
          eqp_code: c.eqpData.eqp_code,
          eqp_provider_id: this.provider_id,
          eqp_type_name: c.eqpData.eqp_type,
          eqp_model: c.eqpData.eqp_model,
          eqp_brand: c.eqpData.eqp_brand,
          }).then(function(response){
            c.text = 'Saved';
          });
          c.eqpGetEqpByProvider(this.provider_id);
          c.emptyAddEqpFields();
       }
    },
    eqpGetAllEqpType() {
      axios.get(`/eqpGetAllEqpType`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.items1.push(response.data[key].eqp_type_name);
              }
            }
          }
        });
    },
    eqpGetAllModel() {
      axios.get(`/eqpGetAllModel`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.items2.push(response.data[key].eqp_model);
              }
            }
          }
        });
    },
    eqpGetAllBrand() {
      axios.get(`/eqpGetAllBrand`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.items3.push(response.data[key].eqp_brand);
              }
            }
          }
        });
    },
  }
}
</script>

<style lang="scss" scoped>
@import "./style.scss";
@import "../style.scss";
</style>
