.breadcrumb {
    background: none !important;
    padding: 0 !important;
}

.tdeqp_provider {
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
    padding-top: 15px;
    color: #20aee3
}

.tdeqp_email {
    text-align: left;
}

.tdeqp_contact {
    text-align: left;
}

.tdeqp_address {
    text-align: left;
    text-transform: uppercase
}

.modal_vcard {
    overflow-x: hidden !important;
}
.modal_toolbar_title {
    text-transform: uppercase;
    font-size: 1rem;
}
.addeqp {
    padding-right:15px; 
    color: #20aee3;
}
.mapeqp {
    padding-right:11px; 
    color: #20aee3
}
.modal_table {
    box-shadow: none !important;
}
.tdeqp_code {
    text-align: left; text-transform: uppercase;
}