<template>
  <div id="dashboard">
    <!-- Current Week Usage -->
    <v-container class="padding current-week text-xs-left white" fluid grid-list-lg
      >
      <v-layout row wrap style="padding-top:10px">
        <v-flex xs12>
          <h1>Current Week</h1>
          <p class="grey--text">{{current_week}}</p>
        </v-flex>

        <v-flex xs4>
          <p class="grey--text">Utility Hrs</p>
          <p><strong>{{ currentTotalUtilityHours  | currency }}</strong></p>
        </v-flex>
        <v-flex xs4>
          <p class="grey--text">Idle Hrs</p>
          <p><strong>{{ currentTotalIdleHours | currency }}</strong></p>
        </v-flex>
        <v-flex xs4>
          <p class="grey--text">Liters/Hr</p>
          <p><strong>{{ currentTotalLiterHours | currency }}</strong></p>
        </v-flex> 
        <v-flex xs12>
          <bar-chart v-bind:data="weekComparisonData"
                      v-bind:options="chartOptions" />
        </v-flex> 
      </v-layout>
    </v-container>

    <!-- Individual Usage -->
    <v-container class="padding individual-usage text-xs-left" fluid grid-list-lg>
      <h1>Individual Status</h1>

      <equipment-list v-bind:equipments="equipments"
                      v-bind:show-detail="true" />
    </v-container>
  </div>
</template>

<script>
import index from './index';
export default index;
</script>

