#user {
  text-align: center;
}

.app-nav-bar {
  position: absolute;
}
.v-btn--bottom.v-btn--absolute.v-btn--small{
  bottom: -5px !important;
  right: -3px !important;
}
.v-btn--bottom.v-btn--absolute.v-btn--small{
  height: 25px !important;
  width: 25px !important;
}
@media screen and (max-width: 992px) {
  #routerview {
   // background-color: blue;
    width: 87.5%;
    margin-left:84px;
  }
}
@media screen and (min-width: 992px) {
  #routerview {
    //background-color: black;
    width:90%;
    margin-left:107.7px;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  #routerview {
    //background-color: olive;
    width: 80%;
    margin-left:89.5px;
  }
}

@media screen and (device-width: 768px) {
  #routerview {
    //background-color: violet;
    margin-left: 77px;
    width: 90%
  }
}

@media screen and (device-width: 320px) {
  #routerview {
    //background-color: pink;
    margin-left: 55px;
    width:90%
  }
}

@media screen and (device-width: 360px) {
  #routerview {
    //background-color: pink;
    margin-left: 56.8px;
    width:90%
  }
}

@media screen and (device-width: 411px) {
  #routerview {
    //background-color: pink;
    margin-left: 57.8px;
    width:90%
  }
}

@media screen and (device-width: 375px) {
  #routerview {
    //background-color: pink;
    margin-left: 59px;
    width:90%
  }
}

@media screen and (device-width: 414px) {
  #routerview {
    //background-color: pink;
    margin-left: 61px;
    width:90%
  }
}

@media screen and (device-width: 1024px) {
  #routerview {
    //background-color: pink;
    margin-left: 65.5px;
    width:95%
  }
}
