<template >
  <div id="user" >
    <v-toolbar class="no-print" style="position: fixed; z-index: 1; background: #1976d2">
      <v-btn @click.stop="drawer = !drawer" flat icon>
        <i class="fa fa-bars"></i>
      </v-btn>
      <v-spacer></v-spacer>
      <v-menu :nudge-width="200" nudge-left="240">
        <i class="icon-grid icons" aria-hidden="true" slot="activator" style="cursor: pointer; color: #fff"></i>
        <v-card style="padding: 15px 15px 15px 15px">
          <v-list>
            <input type="file" ref="file" style="display: none" v-on:change="setImage()">
            <v-avatar @click.stop="$refs.file.click()" style="cursor: pointer">
              <img :src="user_avatar_image">
              <v-btn absolute color="#1976d2" class="white--text" fab small right bottom>
                <i class="icon-camera icons"></i>
              </v-btn>
            </v-avatar>
            <strong v-if="g_lname !== '' && g_fname !== ''" style="color:#524b4b;">
              {{g_fname}} {{g_lname}}
            </strong>
              <strong style="color:#524b4b; margin-left: 10px">{{a_fname}} {{a_lname}}</strong>
            <v-divider></v-divider>
            <v-list-tile-title style="margin-bottom:15px">
              <i class="icon-user icons" aria-hidden="true" slot="activator" 
                style="cursor: pointer; padding-left: 6.5px; padding-right: 10px; color: #1976d2">
              </i>
              <span style="padding-left: 10px;color:#736969;cursor:pointer; font-size: 14px">
                Profile
              </span>
            </v-list-tile-title>
            <v-list-tile-title style="margin-bottom:15px" v-if="willShowActionButtons && !isTableView">
              <i class="icon-cloud-download icons" aria-hidden="true" slot="activator" flat icon
                style="cursor: pointer; padding-left: 6.5px; padding-right: 10px; color: #1976d2">
              </i>
              <span style="padding-left: 10px;color:#736969;cursor:pointer; font-size: 14px" flat icon>
                Download Report
              </span>
            </v-list-tile-title>
            <v-list-tile-title style="margin-bottom:15px" v-if="willShowActionButtons && !isTableView">
              <i class="icon-frame icons" aria-hidden="true" @click="switchReportTableView(true)"
                style="cursor: pointer; padding-left: 6.5px; padding-right: 10px; color: #1976d2">
              </i>
              <span style="padding-left: 10px;color:#736969;cursor:pointer; font-size: 14px" @click="switchReportTableView(true)">
                Table View
              </span>
            </v-list-tile-title>
            <v-list-tile-title v-if="willShowActionButtons">
              <i class="icon-chart icons" aria-hidden="true" @click="switchReportTableView(false)"
                style="cursor: pointer; padding-left: 6.5px; padding-right: 10px; color: #1976d2">
              </i>
              <span style="padding-left: 10px;color:#736969;cursor:pointer; font-size: 14px" @click="switchReportTableView(false)">
                Graph View
              </span>
            </v-list-tile-title>
            <v-divider></v-divider>
            <v-list-tile-title>
              <a v-on:click="logout">
                <i class="icon-logout icons" style="padding-left: 4px; padding-right: 13px; color: #1976d2"></i> 
                <span style="padding-left: 9px;color:#736969;cursor:pointer;font-size: 14px">
                  Logout
                </span>
              </a>
            </v-list-tile-title>
          </v-list>
        </v-card>
      </v-menu>
    </v-toolbar>
    <v-navigation-drawer class="app-nav-bar" width="250" :mini-variant.sync="mini" 
        v-model="drawer" permanent style="position: fixed !important">
      <div class="nav-content">
        <v-list class="pa-1">
          <v-list-tile class="user-details">
            <img class="logo" style="padding-right:35px; padding-bottom: 45px; width: 75px; height: 85px" 
              src="../../assets/logo.png" />
            <h1 style=" color: rgb(105, 105, 105);padding-bottom: 26px">
              UEUD
            </h1>
            <v-btn icon @click.stop="mini = !mini"
              style="margin-left: 55px; margin-bottom: 42px;">
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile>
        </v-list>
        <v-divider></v-divider>
        <v-list class="nav-bar-items pt-0">
          <v-list-tile v-for="item in menuItems" :key="item.name" style="padding-bottom: 25px">
            <div class="container" style="padding-left:23px">
              <div class="row">
                <div class="col-xs-5">
                  <i :class="`${item.icon} icons`" 
                  style="opacity: 0.8; cursor: pointer;color: rgb(25, 118, 210); padding-left: 5px"></i>
                </div>
                <div class="col-xs-7" style="padding-left: 25px">
                  <v-list-tile-content>
                    <router-link class="capitalize" v-bind:to="item.name">
                      <span @click.stop="mini = !mini">
                        {{ (item.alias) ? item.alias.replace(/\W/g, ' ') : item.name.replace(/\W/g, ' ') }}
                      </span>
                    </router-link>
                  </v-list-tile-content>
                </div>
              </div>
            </div>
          </v-list-tile>
        </v-list>
      </div>
    </v-navigation-drawer>
    <router-view id="routerview" style="padding-top: 90px"></router-view>
    <v-dialog v-model="dialog" fullscreen>
      <v-toolbar dark color="#20aee3" style="box-shadow: none !important">
        <v-btn icon dark @click="dialog = false;">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title style="text-transform: uppercase; font-size: 1rem">CROP IMAGE</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark flat @click="saveImage()">Save</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card> 
        <vue-cropper
            ref="cropper"
            :view-mode="1"
            drag-mode="move"
            :zoomable="false"
            :movable="false"
            :aspect-ratio="100/60"
            :restore="true"
            :crop-box-movable="true"
            :auto-crop-area="0.5"
            :background="true"
            :img-style="{ 'width' : '100%', 'height' : '400px' }"
            :src="imgSrc"
            alt="Source Image"
            :cropmove="cropImage">
        </vue-cropper>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import pages from '@/pages';
import { Storage } from '@/services/Storage';
import axios from '@/utils/Axios';
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export const STORAGE_KEY = {
  TOKEN: 'token',
};

export default {
  components: { VueCropper},
  name: 'user',
  data() {
    return {
      dialog: false,
      mini: true,
      drawer: null,
      willShowActionButtons: false,
      menuItems: pages.User.children.filter(i => i.icon),
      // Report
      isTableView: false,
       a_lname: '',
      a_fname: '',
      g_lname: '',
      g_fname: '',
      imgSrc: '',
      cropImg: '',
      user_avatar: '',
      ag_fname: '',
      ag_lname: '',
      user_type: '',
      user_avatar_image: ''
    };
  },
  created() {
    localStorage.admin_fname === '' ? this.ag_fname = localStorage.g_fname : this.ag_fname = localStorage.admin_fname;
    localStorage.admin_lname === '' ? this.ag_lname = localStorage.g_lname : this.ag_lname = localStorage.admin_lname;
    this.user_type = localStorage.ueud_user_type;
  },
  mounted() {
    this.eqpGetUserLogo();
    this.a_lname = localStorage.admin_lname;
    this.a_fname = localStorage.admin_fname;
    this.g_fname = localStorage.g_fname;
    this.g_lname = localStorage.g_lname;
  },
  beforeCreate() {
    this.$store.dispatch('equipment/fetchDashboardChart');
    this.$store.dispatch('equipment/fetchEquipmentBrand');
    this.$store.dispatch('equipment/fetchEquipmentType');
    this.$store.dispatch('equipment/fetchEquipmentModel');
    this.$store.dispatch('equipment/fetchEquipment');
    this.$store.dispatch('report/fetchReports');
    this.$store.dispatch('user/fetchUser');
  },
  methods: {
    eqpGetUserLogo() {
      axios.get(`/eqpGetUserLogo?u_fname=${this.ag_fname}&u_lname=${this.ag_lname}&user_type=${this.user_type}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.user_avatar = response.data;
            for (const key in this.user_avatar) {
              if (this.user_avatar.hasOwnProperty(key)) {
                this.user_avatar_image = this.user_avatar[key].user_logo_base64;
              }
            }
          }
        })
    },
    saveImage() {
      const c = this;
      axios.post(`/eqpInsertUserLogo`, {
          user_fname: localStorage.admin_fname,
          user_lname: localStorage.admin_lname,
          ueud_user_type: localStorage.ueud_user_type,
          user_logo_base64: c.cropImg
        }).then(function(response){
          c.eqpGetUserLogo();
          c.dialog = false;
        });
        
    },
    cropImage () {
        this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
    setImage () {
        const file = this.$refs.file.files[0];
        this.$refs.file.value = ''; //Reset value para makaselect the same file
        if (!file.type.includes('image/')) {
            alert('Please select an image file');
            return;
        }
        if (typeof FileReader === 'function') {
            const reader = new FileReader();
            reader.onload = (event) => {
                this.imgSrc = event.target.result;
                this.$refs.cropper.replace(event.target.result);
                this.dialog = true;
            };
            reader.readAsDataURL(file);
        } else {
            alert('Sorry, FileReader API not supported');
        }
    },
    logout() {
      this.$store.commit('user/logout');
      this.$router.push({ name: pages.Login.name });
      Storage.remove(STORAGE_KEY.TOKEN);
      Storage.set('signout', 1);
      this.$cookie.set('lname', '1');
      this.$cookie.set('fname', '1');
      this.$cookie.set('uemail', '1');
      this.$cookie.set('gid', '1');
      this.signOut();
    },
    signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    },
    showActionItems() {
      this.willShowActionButtons = true;
    },
    hideActionItems() {
      this.willShowActionButtons = false;
    },
    switchReportTableView(isTableView) {
      this.isTableView = isTableView;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
