<template>
  <v-container id="fillup">
    <v-layout row wrap>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <img class="logo" src="../../assets/logo.png" />
          <h1 class="heading">Provider Information</h1>
          <form class="form" v-on:submit="doSubmit" style="padding:20px 30px 50px 30px">
     

            <v-text-field v-validate="'required'" name="Password" solo v-model="fillupData.password" label="Password" type="password">
            </v-text-field>
            <span id="pworderror">{{ errors.first('Password') }}</span>

            <v-text-field v-validate="'required'" name="Confirm Password" solo v-model="fillupData.confirm_password" label="Confirm Password" type="password">
            </v-text-field>
            <span id="cpworderror">{{ errors.first('Confirm Password') }}</span>
            <span id="pwordmismatch" v-if="fillupData.password !== fillupData.confirm_password">
              Password mismatch.
            </span>

            <v-text-field v-validate="'required'" name="Provider Name" solo v-model="fillupData.provider_name" label="Provider Name">
            </v-text-field>
            <span>{{ errors.first('Provider Name') }}</span>
            
            <v-text-field solo v-model="fillupData.provider_contact" label="Provider Contact">
            </v-text-field>

            <v-text-field solo v-model="fillupData.provider_address" label="Provider Address">
            </v-text-field>
            <input type="file" id="inputFileToLoad" ref="logo"  v-on:change="setImage()" style="float: left; margin-bottom: 15px"/>


            <v-btn large block color="info" v-on:click="doSubmit">Save</v-btn>
          </form>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Settings</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat @click="dialog = false">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <vue-cropper
          ref="cropper"
          :view-mode="1"
          drag-mode="move"
          :zoomable="false"
          :movable="false"
          :aspect-ratio="100/60"
          :restore="true"
          :crop-box-movable="true"
          :auto-crop-area="0.5"
          :background="true"
          :img-style="{ 'width' : '100%', 'height' : '400px' }"
          :src="imgSrc"
          alt="Source Image"
          :cropmove="cropImage"
        >
    </vue-cropper>
    </v-card>
    </v-dialog>
  </v-container>
  
</template>

<script>
import axios from '@/utils/Axios';
import PayloadUtil from '@/utils/Payload';
import index from '../user/dashboard/Dashboard.vue';
import dashboard from '../user/dashboard';
import Dashboard from '@/pages/user/dashboard/Dashboard';
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
  components: { VueCropper},
  name: 'fillup',
  data() {
    return {
      fillupData: {
        email: '',
        password: '',
        confirm_password: '',
        provider_name: '',
        provider_logo: '',
        provider_contact: '',
        provider_address: '',
      },
      errorMessage: '',
      isLoggingIn: false,
      base64string: '',
      u_lname: '',
      u_fname: '',
      u_email: '',
      u_gid: '',
      dialog : false,
      imgSrc: '',
      cropImg: '',
    };
  },
  mounted() {
    this.u_lname = this.$cookie.get('lname');
    this.u_fname = this.$cookie.get('fname');
    this.u_email = this.$cookie.get('uemail');
    this.u_gid = this.$cookie.get('gid');
  },
  methods : {
    doSubmit() {
      if(this.fillupData.password === this.fillupData.confirm_password) {
          this.$validator.validateAll().then((result) => {
            if (result) {
              const c = this;
              axios.post(`/eqpInsertProvider`, {
                  provider_name: c.fillupData.provider_name,
                  provider_contact: c.fillupData.provider_contact,
                  provider_email: this.u_email,
                  provider_address: c.fillupData.provider_address,
                  provider_logo_base64: c.cropImg
              }).then(function(response){
                  //dashboard
                    c.doSubmitToGoogleLogin();
                    this.$router.push({name: Dashboard.name});
              });
              return
            } 
            alert(error);
        });
      } 
    },
    doSubmitToGoogleLogin() {
      const c = this;
      axios.post(`/eqpInsertGoogleLogin`, {
          user_lastname: this.u_lname,
          user_firstname: this.u_fname,
          user_email: this.u_email,
          user_password: c.fillupData.password,
          google_id: this.u_gid,
      }).then(function(response){
          c.$router.push({ name: Dashboard.name });
          console.log(response.data + 'inserted...');
      })
    },
    setImage () {
        const file = this.$refs.logo.files[0];
        if (!file.type.includes('image/')) {
            alert('Please select an image file');
            return;
        }
        if (typeof FileReader === 'function') {
            const reader = new FileReader();
            reader.onload = (event) => {
                this.imgSrc = event.target.result;
                this.$refs.cropper.replace(event.target.result);
                this.dialog = true;
            };
            reader.readAsDataURL(file);
        } else {
            alert('Sorry, FileReader API not supported');
        }
    },
    cropImage () {
        this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
  }
};

</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
