<template>
  <div id="equipment">
    <v-container class="padding" fluid grid-list-lg>
      <v-layout class="breadcrumb_layout">
        <div class="col-sm-5 align-self-center">
          <h3 class="breadcrumb_bigtxt">Admins</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb_smalltxt breadcrumb-item active" tabindex="0">
              Dashboard
            </li>
            <li class="breadcrumb_smalltxt breadcrumb-item active">Admins</li>
          </ol>
        </div>
      </v-layout>
      <!-- test table -->
      <v-card style="box-shadow: none !important">
      <v-card-title>
        <v-spacer></v-spacer>
        <v-text-field class="search_vtxtfield" v-model="search" label="Search" single-line hide-details>
          <v-icon dark color="#20aee3" slot="append">search</v-icon>
        </v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="admin_users" :search="search">
        <template v-slot:items="props">
          <td class="tduser_fname">{{ props.item.user_firstname }} {{props.item.user_lastname}}</td>
          <td class="tduser_email">{{ props.item.user_email }}</td>
          <td class="tduser_mobile">{{ props.item.user_mobile }}</td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
      </v-card>
      <!-- /test table -->
    </v-container>
  </div>
</template>

<script>
import axios from '@/utils/Axios';
import { Auth } from '@/services/Auth';
import { Storage } from '@/services/Storage';

export default {
  name: 'admins',
  data() {
    return {
      search: '',
      admin_users: [],
      headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: false,
          value: 'user_firstname'
        },
        {
          text: 'Email',
          align: 'left',
          sortable: false,
          value: 'user_email'
        },
        {
          text: 'Contact no.',
          align: 'left',
          sortable: false,
          value: 'user_mobile'
        }
      ],
    };
  },
  mounted() {
    this.getAdminUsers();
  },
  methods: {
    getAdminUsers() {
      axios.get(`/getAdminUsers?=${localStorage.token}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.admin_users = response.data;
          }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "./style.scss";
@import "../style.scss";
</style>
