.breadcrumb {
    background: none !important;
    padding: 0 !important;
}
.tduser_fname {
    text-align: left; 
    text-transform: uppercase; 
    padding-top: 15px;
}
.tduser_email {
    text-align: left
}
.tduser_mobile {
    text-align: left
}