/**
* Theme content
* ----------------
*/

.content {
  text-align: center;
  display: block;
  position: relative;
  padding: 15px 50px;
  width: 100%;

  &.no-padding {
    padding: 0;
  }
  .headline {
    font-size: 50px !important;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 15px;

    &.small-headline {
      font-size: 25px !important;
    }
  }
}
