/**
* Theme form content
* ----------------
*/

.form {
  .input-group {
    margin-bottom: 10px;
    margin-top: 10px;

    label {
      display: inline-block;
    }
  }
  .form-control {
    button {
      padding: 10px 25px;
    }
  }
}
