/**
* Theme navbar
* ----------------
*/

.app-nav-bar {
  padding-bottom: 0px;

  .nav-content {
    position: relative;
    height: 100vh;

    .fix-bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
  a {
    text-decoration: none;
    font-size: $navbar-item-font-size;
    color: #000;

    &.router-link-active .fa {
      color: #000;
    }
    .fa {
      color: $navbar-item-active-font-color;
      margin-right: 10px;
      font-size: $navbar-item-icon-size;
    }
  }
  .user-details {
    padding-top: 30px;
    text-align: left;

    h1 {
      font-size: 17px;
      line-height: 18px;
    }
    .logo {
      height: $logo-height;
      width: $logo-width;
    }
    .list__tile {
      display: block;
      height: auto;
      width: 75%;
    }
  }
  .nav-bar-items {
    .list__tile {
      margin-top: $navbar-item-spacing;
      margin-bottom: $navbar-item-spacing;
    }
  }
  .list__tile,
  .list {
    padding-left: 20px;
  }
}
