// App/Content
// ------------

html {
  overflow: auto;
}

html, body {
  font-size: $base-font-size;
  font-family: $default-font-family;
}

hr {
  border: 1px solid #F2EFEF;
  margin: 15px 0 5px;
}

// Table
// ------------

table {
  &.table {
    thead {
      background: #FAFAFA !important;

      th {
        font-size: 1rem !important;
        font-weight: 700 !important;
        vertical-align: middle !important;
      }
    }
    tbody {
      td {
        font-size: 1rem !important;
      }
    }
  }
}

table.table tbody td:first-child,
table.table tbody td:not(:first-child),
table.table tbody th:first-child,
table.table tbody th:not(:first-child),
table.table thead td:first-child,
table.table thead td:not(:first-child),
table.table thead th:first-child,
table.table thead th:not(:first-child) {
  padding: 15px 24px 5px;
}

// Headings
// ------------

h1, h2, h3,
h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

strong {
  font-weight: 700;
}

small {
  font-size: 0.9rem;
}

// Vuetify.js
// ------------

.application {
  font-family: $default-font-family;
}

.theme--light .card {
  background-color: #FAFAFA !important;
}

.container.padding {
  padding: 1rem 2.3rem !important;
}

.layout.padding {
  padding: 0 1.5rem !important;
}

.card__text.padding {
  padding: 1rem 2rem !important;
}

.container.grid-list-lg .layout .flex {
  padding: 4px;
}

.dialog__content {
  .toolbar {
    z-index: 999;
  }
}

.layout {
  align-items: center;
}

.toolbar {
  background-color: $toolbar-background-color;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 0px 1px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  color: $color-dark;

  .toolbar__title {
    font-size: $toolbar-font-size;
    text-transform: capitalize;
    margin-left: 0;
  }
}

.yellow {
  background-color: #E0CF0A !important;
  border-color: #E0CF0A !important;
}

.dialog {
  box-shadow: none;
}

.light-blue {
  background-color: #10C4D3 !important;
  border-color: #10C4D3 !important;
}
