<template>
  <div id="app">
    <v-app>
      <router-view></router-view>
    </v-app>
  </div>
</template>

<script>
import stores from './stores';

export default {
  name: 'app',
  created() {
    this.registerStores();
  },
  methods: {
    /**
     * Register stores to Vuex.
    */
    registerStores() {
      stores.forEach((s) => {
        this.$store.registerModule(s.name, s.store);
      });
    },
  },
};
</script>

<style lang="scss">
@import "./scss/main.scss";

#app {
  overflow: hidden;
}
</style>
