
// Text
// ------------------

.capitalize {
  text-transform: capitalize;
}

.green-text {
  color: #00AD00;
}

// Layout
// ------------------

.border-bottom {
  padding-bottom: 5px;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 15px !important;
}

.padding {
  padding: 16px;
}

.no-padding {
  padding: 0 !important;
}

.padding-vertical {
  padding-left: 2.3rem !important;
  padding-right: 2.3rem !important;
}

.no-margin {
  margin: 0 !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

// Table
// ------------------

.stripes {
  tbody {
    tr:nth-child(even) {
      background-color: #FAFAFA;
    }
  }
}

.no-border {
  tbody {
    tr {
      border-bottom: none !important;
    }
  }
}

.black-text {
  thead {
    th {
      color: #000 !important;
    }
  }
}

// Misc.
// ------------------

.clickable {
  cursor: pointer;
}
