// Font/Text
// ------------------

$default-font-family: 'Roboto', sans-serif;

$base-font-size: 16px;

// Colors
// ------------------

$color-primary: #4BBECC;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #262626;


// Toolbar
// ------------------

$toolbar-background-color: #F0F0F0;
$toolbar-font-size: 20px;

// Navbar
// ------------------

$logo-width: 64px;
$logo-height: 64px;

$navbar-title-font-size: 16px;
$navbar-sub-title-font-size: 12px;

$navbar-item-font-size: 14px;
$navbar-item-icon-size: 20px;
$navbar-item-spacing: 15px;

$navbar-title-font-color: #262626;
$navbar-sub-title-font-color: #5F5F5F;
$navbar-item-active-font-color: #5F5F5F;

