<template >
  <div id="admin" >
    <v-toolbar class="admain_toolbar no-print">
      <v-btn @click.stop="drawer = !drawer" flat icon>
        <i class="fa fa-bars"></i>
      </v-btn>
      <v-spacer></v-spacer>
      <v-menu :nudge-width="200" nudge-left="220">
        <i class="toolbar_menu_icon icon-grid icons" aria-hidden="true" slot="activator"></i>
        <v-card class="toolbar_menu_content">
          <v-list>
            <input type="file" ref="file" style="display: none" v-on:change="setImage()">
            <v-avatar @click.stop="$refs.file.click()" style="cursor: pointer">
              <img :src="user_avatar_image">
              <v-btn absolute color="#1976d2" class="white--text" fab small right bottom>
                <i class="icon-camera icons"></i>
              </v-btn>
            </v-avatar>
            
            <strong class="toolbar_menu_name" v-if="g_lname !== '' && g_fname !== ''">
              {{g_fname}} {{g_lname}}
            </strong>
            <strong class="toolbar_menu_name2">{{a_fname}} {{a_lname}}</strong>
            <v-divider></v-divider>
            <v-list-tile-title style="margin-bottom:15px">
              <i class="toolbaritem_iconprofile icon-user icons" aria-hidden="true" slot="activator"></i>
              <span class="toolbaritem_title">Profile</span>
            </v-list-tile-title>
            <v-divider></v-divider>
            <v-list-tile-title>
              <a v-on:click="logout">
                <i class="toolbaritem_iconlogout icon-logout icons"></i>
                <span class="toolbaritem_title">Logout</span>
              </a>
            </v-list-tile-title>
          </v-list>
        </v-card>
      </v-menu>
      <div class="no-margin" v-if="willShowActionButtons">
        <v-btn v-if="!isTableView" flat icon>
          <i class="fas fa-download"></i>
        </v-btn>
        <v-menu bottom left>
          <v-btn icon slot="activator">
            <v-icon>more_vert</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile @click="switchReportTableView(true)">
              <v-list-tile-title>Table View</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="switchReportTableView(false)">
              <v-list-tile-title>Graph View</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </div>
    </v-toolbar>
    <div class="row">
      <v-navigation-drawer class="app-nav-bar" width="250" expand-on-hover :mini-variant.sync="mini"
        v-model="drawer" permanent style="position: fixed !important">
        <div class="nav-content">
          <v-list class="pa-1">
            <v-list-tile class="user-details">
              <img class="logo" src="../../assets/logo.png"/>
              <h1 class="navtitle">UEUD</h1>
              <v-btn class="close_main_nav" icon @click.stop="mini = !mini">
                <v-icon style="color: #696969">chevron_left</v-icon>
              </v-btn>
            </v-list-tile>
          </v-list>
          <v-divider></v-divider>
          <v-list class="nav-bar-items pt-0" >
            <v-list-tile v-for="item in menuItems" :key="item.name" link style="padding-bottom: 25px">
              <div class="container" style="padding-left:23px">
                <div class="row">
                  <div class="col-xs-5">
                    <i :class="`main_nav_icons ${item.icon} icons`"></i>
                  </div>
                  <div class="main_nav_item_title col-xs-7">
                    <v-list-tile-content>
                      <router-link class="capitalize" v-bind:to="item.name">
                        <span @click.stop="mini = !mini" style="color: #1976d2;">
                          {{ (item.alias) ? item.alias.replace(/\W/g, ' ') : item.name.replace(/\W/g, ' ') }}
                        </span>
                        <!--<i :src="`${item.icon}`"></i><img :src="`../../../assets/simple-line-icons/${item.icon}.svg`">-->
                      </router-link>
                    </v-list-tile-content>
                  </div>
                </div>
              </div>
            </v-list-tile>
          </v-list>
        </div>
      </v-navigation-drawer>
      <router-view id="routerview"></router-view>
    </div>
    <v-dialog v-model="dialog" fullscreen>
      <v-toolbar dark color="#20aee3" style="box-shadow: none !important">
        <v-btn icon dark @click="dialog = false;">
          <v-icon>close</v-icon>
        </v-btn>
        <v-toolbar-title style="text-transform: uppercase; font-size: 1rem">CROP IMAGE</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn dark flat @click="saveImage()">Save</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card> 
        <vue-cropper
            ref="cropper"
            :view-mode="1"
            drag-mode="move"
            :zoomable="true"
            :movable="true"
            :aspect-ratio="1"
            :restore="true"
            :crop-box-movable="true"
            :auto-crop-area="0.5"
            :background="true"
            :img-style="{ 'width' : '100%', 'height' : '400px' }"
            :src="imgSrc"
            alt="Source Image"
            :cropmove="cropImage">
        </vue-cropper>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import index from './index';
import axios from '@/utils/Axios';
import Vue from 'vue';
import pages from '@/pages';
import { Storage } from '@/services/Storage';
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
  components: { VueCropper},
  name: 'admin',
  data() {
    return {
      dialog: false,
      mini: true,
      drawer: null,
      willShowActionButtons: false,
      menuItems: pages.Admin.children.filter(i => i.icon),
      // Report
      isTableView: false,
      //
      a_lname: '',
      a_fname: '',
      g_lname: '',
      g_fname: '',
      imgSrc: '',
      cropImg: '',
      user_avatar: '',
      ag_fname: '',
      ag_lname: '',
      user_type: '',
      user_avatar_image: ''
    };
  },
  created() {
    
  },
  mounted() {
    this.eqpGetUserLogo();
    this.a_lname = localStorage.admin_lname;
    this.a_fname = localStorage.admin_fname;
    this.g_fname = localStorage.g_fname;
    this.g_lname = localStorage.g_lname;
  },
  methods: {
    eqpGetUserLogo() {
      localStorage.admin_fname === '' ? this.ag_fname = localStorage.g_fname : this.ag_fname = localStorage.admin_fname;
      localStorage.admin_lname === '' ? this.ag_lname = localStorage.g_lname : this.ag_lname = localStorage.admin_lname;
      this.user_type = localStorage.ueud_user_type;
      axios.get(`/eqpGetUserLogo?u_fname=${this.ag_fname}&u_lname=${this.ag_lname}&user_type=${this.user_type}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.user_avatar = response.data;
            for (const key in this.user_avatar) {
              if (this.user_avatar.hasOwnProperty(key)) {
                this.user_avatar_image = this.user_avatar[key].user_logo_base64;
              }
            }
          }
        })
    },
    saveImage() {
      const c = this;
      axios.post(`/eqpInsertUserLogo`, {
        user_fname: localStorage.admin_fname,
        user_lname: localStorage.admin_lname,
        ueud_user_type: localStorage.ueud_user_type,
        user_logo_base64: c.cropImg
      }).then(function(response){
        c.eqpGetUserLogo();
        c.dialog = false;
      });
        
    },
    cropImage () {
      this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
    },
    setImage () {
      const file = this.$refs.file.files[0];
      this.$refs.file.value = ''; //Reset value para makaselect the same file
      if (!file.type.includes('image/')) {
          alert('Please select an image file');
          return;
      }
      if (typeof FileReader === 'function') {
          const reader = new FileReader();
          reader.onload = (event) => {
              this.imgSrc = event.target.result;
              this.$refs.cropper.replace(event.target.result);
              this.dialog = true;
              
          };
          reader.readAsDataURL(file);
      } else {
          alert('Sorry, FileReader API not supported');
      }
    },
    logout() {
      this.$store.commit('user/logout');
      this.$router.push({ name: pages.Login.name });
      Storage.remove(STORAGE_KEY.TOKEN);
      Storage.set('signout', 1);
      this.$cookie.set('lname', '1');
      this.$cookie.set('fname', '1');
      this.$cookie.set('uemail', '1');
      this.$cookie.set('gid', '1');
      this.signOut();
    },
    signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    },
    showActionItems() {
      this.willShowActionButtons = true;
    },
    hideActionItems() {
      this.willShowActionButtons = false;
    },
    switchReportTableView(isTableView) {
      this.isTableView = isTableView;
    },
  },
  created() {
    window.addEventListener('resize', this.onResize);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  }
};
</script>

<style lang="scss" scoped>
@import "./style.scss";
</style>
