#admin {
    text-align: center;
}

.app-nav-bar {
    position: absolute;
}
.breadcrumb_layout {
  padding: 10px;
}

.breadcrumb_bigtxt {
  text-align: left;
  font-size: 1.38rem;
  color: #20aee3;
}

.breadcrumb_smalltxt {
  font-size: .75rem
}

.drawer_title {
  padding-left: 1px
}

.v-select {
  padding: 20px 20px 20px 20px;
}

.v-text-field {
  padding: 20px 20px 20px 20px;
}

.draweroptions {
  float: right;
  padding-right: 20px;
  padding-top: 10px;
}

.cancelbtn {
  font-size: 12px;
  float: right;
  margin-left: 10px;
}

.savebtn {
  font-size:12px;
  float:right;
  padding-left: 15.5px;
  padding-right: 15.5px;
}

.search_vtxtfield {
  flex: none !important;
}

.admain_toolbar {
  position: fixed; 
  z-index: 1; 
  background: #1976d2; 
  box-shadow: none !important;
}

.toolbar_menu_icon {
  cursor: pointer; 
  color: #fff;
}
.toolbar_menu_content{
  padding: 15px 15px 15px 15px;
}
.toolbar_menu_name{
  color:#524b4b;
}
.toolbar_menu_name2 {
  color:#524b4b; 
  margin-left: 10px;
}
.toolbaritem_iconprofile{
  cursor: pointer; 
  padding-left: 6.5px;
  padding-right: 10px; 
  color: #1976d2;
}
.toolbaritem_iconlogout{
  padding-left: 4px; 
  padding-right: 11px; 
  color: #1976d2
}
.toolbaritem_title{
  padding-left: 10px;
  color:#736969;
  cursor:pointer; 
  font-size: 14px;
}
.logo{
  padding-right:25px; 
  padding-bottom: 25px; 
  width: 75px; 
  height: 85px
}
.navtitle {
  color: #696969;
  padding-bottom: 6px;
}
.close_main_nav {
  margin-left: 55px; 
  margin-bottom: 42px;
}
.main_nav_icons {
  opacity: 0.8; 
  cursor: pointer;
  color: rgb(25, 118, 210); 
  padding-left: 5px;
}
.main_nav_item_title {
  padding-left: 25px;
}
#routerview {
  padding-top: 70px;
}
.v-btn--bottom.v-btn--absolute.v-btn--small{
  bottom: -5px !important;
  right: -3px !important;
}
.v-btn--bottom.v-btn--absolute.v-btn--small{
  height: 25px !important;
  width: 25px !important;
}
@media screen and (max-width: 992px) {
    #routerview {
      //background-color: blue;
      width: 87.5%;
      margin-left:97px;
    }
}
@media screen and (min-width: 992px) {
    #routerview {
      //background-color: black;
      width:95%;
      margin-left:82.7px;
    }
}
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    #routerview {
      //background-color: olive;
      width: 84%;
      margin-left:82.5px;
    }
  }

  @media screen and (device-width: 768px) {
    #routerview {
      //background-color: violet;
      margin-left: 77px;
      width: 90%
    }
  }

  @media screen and (device-width: 320px) {
    #routerview {
      //background-color: pink;
      margin-left: 60px;
      width:87%
    }
  }

  @media screen and (device-width: 360px) {
    #routerview {
      //background-color: pink;
      margin-left: 63.8px;
      width:87%
    }
  }

  @media screen and (device-width: 411px) {
    #routerview {
      //background-color: pink;
      margin-left: 67px;
      width:87%
    }
  }

  @media screen and (device-width: 375px) {
    #routerview {
      //background-color: pink;
      margin-left: 65px;
      width:87%
    }
  }

  @media screen and (device-width: 414px) {
    #routerview {
      //background-color: pink;
      margin-left: 67px;
      width:87%
    }
  }

  @media screen and (device-width: 1024px) {
    #routerview {
      //background-color: pink;
      margin-left: 76.5px;
      width:100%
    }
  }


