<template>
  <div id="equipment" >
    <v-container class="padding" fluid grid-list-lg >
      <v-layout class="breadcrumb_layout" v-if="user_token !== ''">
        <div class="col-sm-5 align-self-center">
          <h3 class="breadcrumb_bigtxt">Equipments</h3>
          <ol class="breadcrumb" style="background: none !important; padding: 0 !important">
            <li class="breadcrumb_smalltxt breadcrumb-item active" tabindex="0">
              Dashboard 
            </li>
            <li class="breadcrumb_smalltxt breadcrumb-item active">Equipments</li>
          </ol>
        </div>
        <div  class="col-sm-7 align-self-center text-right">
          <v-btn class="mx-2 btn-info" style="background-color: #20aee3;"
            fab small @click.stop="drawer = !drawer; mapeqp = false; assignproj = false">
            <v-icon dark style="color: #fff">add</v-icon>
          </v-btn>
        </div>
      </v-layout>
      <!-- toggle drawer -->
        <v-navigation-drawer :stateless="snackbar" class="app-nav-bar" v-model="drawer" width="500" absolute temporary right>
           <!-- mapping nav -->
            <div class="nav-content" v-if="mapeqp === true">
            <v-list class="pa-1">
              <v-list-tile class="user-details">
                <h5 class="drawer_title"> MAP DEVICE</h5>
              </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-list class="nav-bar-items pt-0" dense>
              <v-flex xs12 sm12>
                <v-select :items="nulldevices" label="Select Device.." v-model="nullEqps.nulleqp">
                </v-select>
              </v-flex>
            </v-list>
            <div class="draweroptions">
              <v-btn small class="ma-2" color="#007bff" v-on:click="eqpMapEqpToDevice" 
                style="color:#fff"> <!-- add later( :loading="loading" :disabled="loading") -->
                Save
              </v-btn>
              <v-btn color="#dc3545" dark small v-on:click="emptyMapDeviceFields">Cancel</v-btn>
            </div>
          </div>
          <!-- /map nav -->
        
          <!-- assign project nav -->
            <div class="nav-content" v-if="assignproj === true">
            <v-list class="pa-1">
              <v-list-tile class="user-details">
                <h5 class="drawer_title"> ASSIGN PROJECT</h5>
              </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-list class="nav-bar-items pt-0" dense>
              <v-flex xs12 sm12>
                <v-select :items="proj_list" label="Select Project.." v-model="projects">
                </v-select>
                <v-expansion-panel popout>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <v-icon color="#daa311">date_range</v-icon>
                      <div>{{datestart}}</div>
                    </template>
                    <v-date-picker v-model="datestart" no-title scrollable>
                      <v-spacer></v-spacer>
                    </v-date-picker>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <!-- -->
                <v-expansion-panel popout>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <v-icon color="#daa311">date_range</v-icon>
                      <div>{{dateend}}</div>
                    </template>
                    <v-date-picker v-model="dateend" no-title scrollable>
                      <v-spacer></v-spacer>
                    </v-date-picker>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-flex>
            </v-list>
            <div class="draweroptions">
              <v-btn small class="ma-2" color="#007bff" v-on:click="eqpMapEqpToProject"
                style="color:#fff"><!-- add later( :loading="loading" :disabled="loading") -->
                Save
              </v-btn>
              <v-btn color="#dc3545" dark small v-on:click="emptyAssignProjFields">Cancel</v-btn>
            </div>
          </div>
          <!-- /assign project nav -->
          <div class="nav-content" v-if="mapeqp === false && assignproj === false">
          <v-list class="pa-1">
            <div class="row" style="padding-right: 20px; padding-left: 20px">
              <div class="user-details col-sm-5 align-self-center">
                <h1 class="drawer_title"> ADD EQUIPMENT</h1>
              </div>
            </div>
          </v-list>
          <v-divider></v-divider>
          <v-list class="nav-bar-items pt-0" dense>
              <v-flex xs12 sm12>
                <v-text-field label="Equipment Name" v-model="eqpData.eqp_code">
                </v-text-field>
              </v-flex>
              <v-flex xs12 sm12 >
                <v-select :items="items" label="Equipment Type.." clearable v-model="eqpData.eqp_type">
                </v-select>
              </v-flex>
              <v-flex xs12 sm12 >
                <v-select :items="items2" label="Select Model.." clearable v-model="eqpData.eqp_model">
                </v-select>
              </v-flex>
              <v-flex xs12 sm12 >
                <v-select :items="items3" label="Select Brand.." clearable v-model="eqpData.eqp_brand">
                </v-select>
              </v-flex>
              <v-flex xs12 sm12 >
                <v-select :items="items4" label="Select Provider..(Optional)" clearable v-model="eqpData.eqp_provider">
                </v-select>
              </v-flex>
              <v-flex xs12 sm12 >
                <v-select :items="devicesnull" label="Select Device..(Optional)" clearable v-model="eqpData.eqp_device">
                </v-select>
              </v-flex>
          </v-list>
          <div class="draweroptions">
            <v-btn small class="ma-2" color="#007bff" v-on:click="eqpInsertEqp" 
              style="color:#fff"> <!--  add later(:loading="loading" :disabled="loading") -->
              Save
            </v-btn>
            <v-btn color="#dc3545" dark small v-on:click="emptyAddEqpFields">Cancel</v-btn>
          </div>
          </div>
        </v-navigation-drawer>
      <!-- /toggle drawer -->

      <!-- test table -->
      <v-card style="box-shadow: none">
      <v-card-title>
        <v-spacer></v-spacer>
        <v-text-field class="search_vtxtfield" v-model="search" label="Search" 
          single-line hide-details>
          <v-icon dark color="#20aee3" slot="append">search</v-icon>
        </v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="eqp_list" :search="search">
        <template v-slot:items="props">
          <v-menu bottom right>
                <i class="main_table_v-menu fa fa-th-large" aria-hidden="true" slot="activator"></i>
              <v-list>
                <v-list-tile v-if="customermap_eqpid_list.includes(props.item.id) && (props.item.eqp_devices_id) !== null">
                  <v-list-tile-title>
                    <i class="item_icons icon-info icons" aria-hidden="true"></i>
                    <strong>{{props.item.eqp_code}}</strong> is already assigned to a project and device.
                  </v-list-tile-title>
                </v-list-tile>
                <v-list-tile v-if="!customermap_eqpid_list.includes(props.item.id)"
                  @click="passEqpCode(props.item.eqp_code);drawer = !drawer; mapeqp = false; assignproj = true; transproj = false">
                  <v-list-tile-title>
                    <i class="item_icons fa fa-random" aria-hidden="true"></i>
                    Assign Project</v-list-tile-title>
                </v-list-tile>
                <v-list-tile v-if="(props.item.eqp_devices_id) === null"
                  @click="passEqpCode(props.item.eqp_code);drawer = !drawer; mapeqp = true; assignproj = false; transproj = false">
                  <v-list-tile-title>
                    <i class="item_icons fa fa-tags" aria-hidden="true" style="padding-right:11px;"></i>
                    Map Device</v-list-tile-title>
                </v-list-tile>
              </v-list>
          </v-menu>
          <td class="main_table_td" style="cursor: pointer; color: #20aee3"
            @click.stop="passEqpCode(props.item.eqp_code);getAllProjectsByEqp(props.item.eqp_code); getAllCustomerMap(props.item.eqp_code);dialog = true">
            {{ props.item.eqp_code }}
          </td>
          <template v-for="(prov,index) in provider_list">
            <td class="main_table_td" 
              :key="index" v-if="(props.item.eqp_provider_id) === (prov.id)">
              {{prov.eqp_provider}} 
            </td>
          </template>
          <td v-if="(props.item.eqp_provider_id) === null" style="text-align: left;">  
          </td>
          <template v-for="(dev,i) in device_list">
            <td class="main_table_td" 
              :key="i" v-if="(props.item.eqp_devices_id) === (dev.id)">
              {{dev.device_id}}
            </td>
          </template>
          <td v-if="(props.item.eqp_devices_id) === null"> 
          </td>
          <template v-for="(proj,idx) in customermap_list">
            <td class="main_table_td" :key="idx" v-if="(props.item.id) === (proj.eqp_id) && proj.status === 1">
              {{proj.eqp_customer_name}}
            </td>
          </template>
          <td v-if="(!customermap_eqpid_list.includes(props.item.id))">
          </td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </template>
      </v-data-table>
      </v-card>
      <!-- /test table -->
      <v-dialog v-model="dialog" eager fullscreen>
        <v-card>
          <v-toolbar dark color="#20aee3" style="box-shadow: none !important">
            <v-btn icon dark @click="dialog = false; drawer = false; customer_map_all = []; proj_by_eqp = []">
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title style="text-transform: uppercase; font-size: 1rem">{{equipment_name}} - Assigned Projects</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-menu class="full-right" close-on-content-click bottom right style="float: left; padding-left: 10px">
                <i class="icon-note icons" slot="activator" style="color: white"></i>
                <v-list>
                  <v-list-tile>
                    <v-list-tile-title @click="transferEqpNavBar(); "
                      style="cursor:pointer">
                      <i class="fa fa-random" aria-hidden="true" style="padding-right:15px; color: #20aee3"></i>
                      Transfer {{equipment_name}} to a Project
                    </v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text>
          <!-- Project list table -->
          <v-container>
            <v-card style="box-shadow: none !important">
              <v-card-title>
                <v-spacer></v-spacer>
                <v-text-field class="search_vtxtfield" v-model="search" append-icon="search" label="Search"
                  single-line hide-details>
                </v-text-field>
              </v-card-title>
              <v-data-table  :headers="headersProjByEqp" :items="proj_by_eqp" :search="search">
                <template v-slot:items="props">
                  <td style="text-align: left">{{ props.item.eqp_customer_name }}</td>
                  <template v-for="(cmap, index) in customer_map_all">
                    <td :key="index" v-if="(props.item.id) === cmap.eqp_customer_id">
                      {{cmap.date_start | formatDate}} <!--datestart-->
                    </td>
                    <td :key="index+1" v-if="(props.item.id) === cmap.eqp_customer_id">
                      {{cmap.date_end | formatDate}} <!--dateend-->
                    </td>
                    <td :key="index+2" v-if="(props.item.id) === cmap.eqp_customer_id">
                      <p v-if="cmap.status === 1">Active</p>
                      <p v-if="cmap.status === 0 || cmap.status === null">Inactive</p>
                    </td>
                  </template>
                </template>
                <template v-slot:no-results>
                  <v-alert :value="true" color="error" icon="warning">
                    Your search for "{{ search }}" found no results.
                  </v-alert>
                </template>
              </v-data-table>
            </v-card>
            <!-- /Project list table -->
          </v-container>
          </v-card-text>
          <v-navigation-drawer :stateless="snackbar" class="app-nav-bar" v-model="drawer2" width="500" absolute temporary right>
            <!-- transfer proj nav -->
          <div class="nav-content" v-if="transproj === true">
            <v-list class="pa-1">
              <v-list-tile class="user-details">
                <h5 class="drawer_title"> TRANSFER PROJECT</h5>
              </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-list class="nav-bar-items pt-0" dense>
              <v-flex xs12 sm12>
                  <v-select :items="proj_list" v-model="projects" attach label="Select Project..">
                  </v-select>
                <v-expansion-panel popout>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <v-icon color="#daa311">date_range</v-icon>
                      <div>{{datestart}}</div>
                    </template>
                    <v-date-picker v-model="datestart" no-title scrollable>
                      <v-spacer></v-spacer>
                    </v-date-picker>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <!-- -->
                <v-expansion-panel popout>
                  <v-expansion-panel-content>
                    <template v-slot:header>
                      <v-icon color="#daa311">date_range</v-icon>
                      <div>{{dateend}}</div>
                    </template>
                    <v-date-picker v-model="dateend" no-title scrollable>
                      <v-spacer></v-spacer>
                    </v-date-picker>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-flex>
            </v-list>
            <div class="draweroptions">
              <v-btn small class="ma-2" color="#007bff" v-on:click="eqpTransferEqpToProject"
                style="color:#fff"> <!--  :loading="loading" :disabled="loading" -->
                Save
              </v-btn>
              <v-btn color="#dc3545" dark small v-on:click="emptyAssignProjFields">Cancel</v-btn>
            </div>
          </div>
          </v-navigation-drawer>
        </v-card>
      </v-dialog>
    </v-container>
    <!-- snackbar -->
    <v-snackbar v-model="snackbar" :bottom="y === 'bottom'" :timeout="timeout" :color="colorSuccess">
      {{ text }}
      <v-btn dark flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <!-- /snackbar -->
  </div>
</template>

<script>
import axios from '@/utils/Axios';
import { Auth } from '@/services/Auth';
import { Storage } from '@/services/Storage';
import Vue from 'vue';

export default {
  name: 'equipments',
  data() {
    return {
      loader: null,
      loading: false,
      datestart: new Date().toISOString().substr(0, 10),
      dateend: new Date().toISOString().substr(0, 10),
      projects: '',
      menu: false,
      breadcrumbsItems: [
        {

        }
      ],
      eqpData : {
        eqp_code: '',
        eqp_type: '',
        eqp_model: '',
        eqp_brand: '',
        eqp_provider: '',
        eqp_device: '',
      },
      nullEqps: {
        nulleqp: ''
      },
      headersProjByEqp: [
        {
          text: 'Projects',
          align: 'left',
          sortable: false,
          value: 'eqp_customer_name'
        },
        {
          text: 'Date Start',
          align: 'left',
          sortable: false,
          value: 'date_start'
        },
        {
          text: 'Date End',
          align: 'left',
          sortable: false,
          value: 'date_end'
        },
        {
          text: 'Status',
          align: 'left',
          sortable: false,
          value: 'status'
        }
      ],
      headersDeviceByEqp: [
        {
          text: 'Device',
          align: 'left',
          sortable: false,
          value: 'device_id'
        }
      ],
      headers: [
        {
          text: '',
          align: 'left',
          sortable: false,
          value: 'asbtn',
          width: "1%"
        },
        {
          text: 'Equipment Code',
          align: 'left',
          sortable: false,
          value: 'eqp_code',
        },
        {
          text: 'Provider',
          align: 'left',
          sortable: false,
          value: 'eqp_provider'
        },
        {
          text: 'Device',
          align: 'left',
          sortable: false,
          value: 'device_id'
        },
        {
          text: 'On Going Project',
          align: 'left',
          sortable: false,
          value: 'eqp_customer_name',
        },
      ],
      search: '',
      // snackbar
      colorSuccess: '',
      snackbar: false,
      y: 'bottom',
      x: null,
      mode: '',
      timeout: 6000,
      text: '',
      // /snackbar
      items: [], // Equipment Types
      items2: [], // Equipment Models
      items3: [], // Equipment Brand
      items4: [], // Equipment Provider
      devicesnull: [],
      drawer: null,
      drawer2: null,
      mapeqp: null,
      assignproj: null,
      transproj: null,
      eqp_list: [],
      provider_list: [],
      customermap_list: [],
      customermap_eqpid_list:[],
      device_list: [],
      proj_list: [],
      nulldevices: [],
      eqp_code_passed: '',
      user_token: '',
      proj_by_eqp: [],
      dialog: false, equipment_name: '',
      customer_map_all: [],
    };
  },
  /*watch: {
      loader () {
        const l = this.loader
        this[l] = !this[l]

        setTimeout(() => (this[l] = false), 3000)

        this.loader = null
      },
    },*/ //Add later kung dungagan loader
  mounted() {
    this.eqpGetEquipmentList();
    this.eqpGetAllEqpType();
    this.eqpGetAllModel();
    this.eqpGetAllBrand();
    this.getAllProvider();
    this.eqpGetEqpByDevicesNull();
    this.eqpGetDeviceByNull();
    this.getAllProject();
    this.eqpGetDeviceList();
    this.eqpCustomerMapList();
    this.getAllCustomerMap();
  },
  methods: {
    emptyMapDeviceFields() {
      this.nullEqps.nulleqp = '';
      this.drawer = !this.drawer;
    },
    emptyAssignProjFields() {
      this.projects = '';
      this.drawer = !this.drawer;
      this.drawer2 = !this.drawer2;
    },
    emptyAddEqpFields(){
        this.eqpData.eqp_code =  '';
        this.eqpData.eqp_type =  '';
        this.eqpData.eqp_model =  '';
        this.eqpData.eqp_brand =  '';
        this.eqpData.eqp_provider =  '';
        this.eqpData.eqp_device =  '';
        this.drawer = !this.drawer;
        this.drawer2 = !this.drawer2;
    },
    getAllCustomerMap(eqp_code) {
      axios.get(`/getAllCustomerMap?eqp_code=${eqp_code}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.customer_map_all = response.data
          }
        })
    },
    getAllProjectsByEqp(eqp_name) {
      
       axios.get(`/getAllProjectsByEqp?eqp_code=${eqp_name}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.proj_by_eqp = response.data;
          }
        })
    },
    eqpCustomerMapList() {
      axios.get(`/eqpCustomerMapList`)
        .then((response) => {
          if (response.data.length > 0) {
            this.customermap_list = response.data;
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.customermap_eqpid_list.push(response.data[key].eqp_id);
              }
            }
          }
        })
    },
    eqpGetDeviceList() {
      axios.get(`/eqpGetDeviceList`)
        .then((response) => {
          if (response.data.length > 0) {
            this.device_list = response.data;
          }
        })
    },
    eqpTransferEqpToProject() {
       const c = this;
      if (c.projects === '' || c.datestart === '' || c.dateend === '') {
        this.text = 'Field must not be empty';
        this.snackbar = true;
        this.colorSuccess = 'error';
      } else {
        //this.loader = 'loading';
        this.text = 'Saved';
        this.snackbar = true;
        this.colorSuccess = 'success';
        axios.post(`/eqpTransferEqpToProject`, {
          eqp_code: c.eqp_code_passed,
          project_name: c.projects,
          date_start: c.datestart,
          date_end: c.dateend
        }).then(function(response){
        });
        c.drawer2 = false;
        c.dialog = false;
        setTimeout(function(){ c.getAllProjectsByEqp(this.eqp_code_passed); }, 1000);
        setTimeout(function(){ c.getAllCustomerMap(this.eqp_code_passed); }, 1000);
        setTimeout(function(){ c.eqpCustomerMapList(); }, 1000);
      }
    },
    eqpMapEqpToProject() {
      const c = this;
      if (c.projects === '' || c.datestart === '' || c.dateend === '') {
        this.text = 'Field must not be empty';
        this.snackbar = true;
        this.colorSuccess = 'error';
      } else {
        //this.loader = 'loading';
        this.text = 'Saved'
        this.snackbar = true;
        this.colorSuccess = 'success';
        axios.post(`/eqpMapEqpToProject`, {
          eqp_code: c.eqp_code_passed,
          project_name: c.projects,
          date_start: c.datestart,
          date_end: c.dateend
        }).then(function(response){
        });
        setTimeout(function(){ c.eqpCustomerMapList(); }, 1000);
        c.emptyAssignProjFields()
      }
    },
    getAllProject() {
      axios.get(`/getAllProject`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.proj_list.push(response.data[key].eqp_customer_name);
              }
            }
          }
        });
    },
    eqpGetDeviceByNull() {
      axios.get(`/eqpGetDeviceByNull`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.devicesnull.push(response.data[key].device_id);
              }
            }
          }
        });
    },
    transferEqpNavBar() {
       this.getAllProject();
       this.drawer2 = !this.drawer2;
       this.mapeqp = false;
       this.assignproj = false;
       this.transproj = true;
    },
    passEqpCode(eqp_code) {
      this.eqp_code_passed = eqp_code;
      this.equipment_name = eqp_code;
    },
    eqpMapEqpToDevice() {
      const c = this;
      if (this.nullEqps.nulleqp === '') {
        this.text = 'Field must not be empty.';
        this.snackbar = true;
        this.colorSuccess = 'error';
      } else {
        //this.loader = 'loading';
        this.text = 'Mapped successfully.';
        this.snackbar = true;
        this.colorSuccess = 'success';
        c.eqpGetEquipmentList();
        axios.post(`/eqpMapEqpToDevice`, {
          eqp_code: c.eqp_code_passed,
          device_id: c.nullEqps.nulleqp
        }).then(function(response){
        });
        c.eqpGetDeviceList();
        c.emptyMapDeviceFields();
      }
    },
    eqpGetEqpByDevicesNull() {
      axios.get(`/eqpGetEqpByDevicesNull`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.nulldevices.push(response.data[key].device_id);
              }
            }
          }
        });
    },
    eqpGetEquipmentList() {
      axios.get(`/eqpGetEquipmentList?token=${localStorage.token}`)
        .then((response) => {
          if (response.data.length > 0) {
            this.eqp_list = response.data;
            this.user_token = localStorage.token;
          }
        });
    },
    eqpGetAllEqpType() {
      axios.get(`/eqpGetAllEqpType`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.items.push(response.data[key].eqp_type_name);
              }
            }
          }
        });
    },
    eqpGetAllModel() {
      axios.get(`/eqpGetAllModel`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.items2.push(response.data[key].eqp_model);
              }
            }
          }
        });
    },
    eqpGetAllBrand() {
      axios.get(`/eqpGetAllBrand`)
        .then((response) => {
          if (response.data.length > 0) {
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.items3.push(response.data[key].eqp_brand);
              }
            }
          }
        });
    },
    getAllProvider() {
      axios.get(`/getAllProvider`)
        .then((response) => {
          if (response.data.length > 0) {
            this.provider_list = response.data;
            for (const key in response.data) {
              if (response.data.hasOwnProperty(key)) {
                this.items4.push(response.data[key].eqp_provider);
              }
            }
          }
        })
    },
    eqpInsertEqp() {
      const c = this;
      if (this.eqpData.eqp_code === '' || this.eqpData.eqp_type === '' || this.eqpData.eqp_model === '' ||
       this.eqpData.eqp_brand === '') {
         this.text = 'Field must not be empty';
         this.snackbar = true;
         this.colorSuccess = 'error';
       } else {
          //this.loader = 'loading';
          this.snackbar = true;
          this.colorSuccess = 'success';
          axios.post(`/eqpInsertEqp`, {
          eqp_code: c.eqpData.eqp_code,
          eqp_type_name: c.eqpData.eqp_type,
          eqp_model: c.eqpData.eqp_model,
          eqp_brand: c.eqpData.eqp_brand,
          eqp_provider: c.eqpData.eqp_provider,
          eqp_device: c.eqpData.eqp_device
          }).then(function(response){
            c.text = 'Saved';
          });
          c.eqpGetEquipmentList();
          c.emptyAddEqpFields();
       }
    }
  },
}
</script>

<style lang="scss" scoped>
@import "./style.scss";
@import "../style.scss";
</style>
