.app-nav-bar {
    position: absolute;
}

.main_table_v-menu {
    color: #20aee3; 
    cursor: pointer;
}

.item_icons {
    padding-right:15px; 
    color: #20aee3;
}

.main_table_td {
    text-align: left; 
    text-transform: uppercase;
}
/*.breadcrumb_bigtxt {
    text-align: left;
    font-size: 1.38rem;
    //color: #20aee3;
    color:black;
}*/
// Loading Button
/*
.custom-loader {
    animation: loader 1s infinite;
    display: flex;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }*/
  // Loading Button