<template>
  <div id="admin-dashboard">
    <v-container class="padding" fluid grid-list-lg>
      <v-layout style="padding: 10px">
        <v-card class="margin-bottom;">
          <v-card-title style="color: #20aee3">
            Admin Dashboard...
          </v-card-title>
        </v-card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import axios from '@/utils/Axios';
import { Auth } from '@/services/Auth';
import { Storage } from '@/services/Storage';

export default {
  name: 'admin-dashboard'
} 
</script>